<div
  class="basic-container"
  style="
    font-family: webnarregular;
    font-size: 11;
    background-color: #2f4050;
    color: #ffffff;
    overflow: hidden;
  "
>
  <span *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.elements && item.elements.length > 0 && item.visible">
      <button
        mat-button
        [matMenuTriggerFor]="menu.childMenu"
        #button
        #levelOneTrigger="matMenuTrigger"
        (mouseenter)="buttonEnter(levelOneTrigger)"
        (mouseleave)="buttonLeave(levelOneTrigger, button)"
        [disabled]="item.disabled"
      >
        {{ item.name }}
        <mat-icon>expand_more</mat-icon>
      </button>

      <app-menu-item
        #menu
        [items]="item.elements"
        (mouseenter2)="menuenter()"
        (mouseleave2)="menuLeave(levelOneTrigger, button)"
      ></app-menu-item>
    </span>
    <!-- Leaf node buttons here -->
    <span
      *ngIf="(!item.elements || item.elements.length === 0) && item.visible"
    >
      <button mat-button class="single-top-menu" [routerLink]="item.route">
        {{ item.name }}
      </button>
    </span>
  </span>
</div>

<!--
  <div class="basic-container" style="font-family:webnarregular;font-size:12;background-color: #2f4050;color:#ffffff;overflow: hidden;">
    <span *ngFor="let item of navItems" >
      <!-- Handle branch node buttons here -->
<!-- <span *ngIf="item.children && item.children.length > 0">
        <button mat-button [matMenuTriggerFor]="menu.childMenu"
        #button #levelOneTrigger="matMenuTrigger"
        (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)"
          [disabled]="item.disabled">
            {{item.displayName}}
            <mat-icon>expand_more</mat-icon>
      </button>

        <app-menu-item #menu [items]="item.children"
        (mouseenter2)="menuenter()" (mouseleave2)="menuLeave(levelOneTrigger, button)"
        ></app-menu-item>

      </span> -->
<!-- Leaf node buttons here -->
<!-- <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button class="single-top-menu" [routerLink]="item.route">
          {{item.displayName}}
        </button>
      </span>
    </span>
    </div>  -->
