.display-values{
  color: #1e90ff;
  font-size: 1.6em;
  margin: 0 0 1em 1.5em;
}

td{
  width: 20%;
}

.main-card{
  width:86%;
  margin: 3% 7% 3% 7%;
}

.table-main{
  width:90%;
  margin: 3% 5% 3% 5%;
}

.td-container{
  padding:1em 0.5em;
  /* width:20%; */
}

/* td{
  width: 195px;
} */

.td-small{
  padding:1em 0.5em;
  /* width: 33%; */
}

.td-small-3{
  padding:1em 0.5em;
  /* width: 195px; */
}

.mat-card-content-small{
  min-height:92px;
}

.mat-card-header-small{
  min-height:80px;
  font-size: 0.5em;
}


.mat-card-title-main{
  background:white;
  font-size: 2em;
}

 .mat-card-title h1{
  font-size: .9em;
}

/* .operator {
  float: left;
} */

.country {
  margin:0 4em;
}

.sharedCreated {
  float: right;
}

