<div class="wrapper wrapper-content animated fadeIn">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title
        ><span class="mat-card-title-main"
          >Management Report</span
        ></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <form [formGroup]="form">
          <mat-form-field
            *ngIf="sharedModel.operators && operatorSelect.length > 0"
            class="operator"
          >
            <mat-select
              placeholder="Search By Operator"
              formControlName="operators"
            >
              <mat-option
                *ngFor="let item of operatorSelect"
                [value]="item.value"
              >
                {{ item.text }}
              </mat-option>
            </mat-select>
            <button
              *ngIf="form.controls.operators.value"
              matSuffix
              mat-icon-button
              type="button"
              aria-label="Clear"
              (click)="
                form.controls.operators.setValue(null); $event.stopPropagation()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field *ngIf="sharedModel.country" class="country">
            <mat-select
              placeholder="Search By Country"
              formControlName="country"
            >
              <mat-option
                *ngFor="let item of countrySelect"
                [value]="item.value"
              >
                {{ item.text }}
              </mat-option>
            </mat-select>
            <button
              *ngIf="form.controls.country.value"
              matSuffix
              mat-icon-button
              type="button"
              aria-label="Clear"
              (click)="
                form.controls.country.setValue(null); $event.stopPropagation()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field *ngIf="sharedModel.currency" class="currency">
            <mat-select
              placeholder="Change Currency"
              formControlName="currency"
            >
              <mat-option
                *ngFor="let item of currencySelect"
                [value]="item.value"
              >
                {{ item.text }}
              </mat-option>
            </mat-select>
            <button
              *ngIf="form.controls.currency.value"
              matSuffix
              mat-icon-button
              type="button"
              aria-label="Clear"
              (click)="
                form.controls.currency.setValue(null); $event.stopPropagation()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="sharedCreated" *ngIf="sharedModel.dateRange">
            <mat-form-field>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="dateFrom"
                formControlName="dateFrom"
              />
              <mat-placeholder>Created From</mat-placeholder>
              <mat-datepicker-toggle
                matSuffix
                [for]="dateFrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="dateTo"
                formControlName="dateTo"
              />
              <mat-placeholder>Created To</mat-placeholder>
              <mat-datepicker-toggle
                matSuffix
                [for]="dateTo"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div
        class="row d-inline-flex export-buttons"
        style="margin-left: 85%; margin-bottom: 3%"
      >
        <button mat-raised-button (click)="generateReport()">
          <mat-icon>assessment</mat-icon>Create Report
        </button>
      </div>
    </mat-card-actions>
    <span style="margin-left: 4%; font-size: 0.95em; width: 100%"
      >(On system refers to by operator(s) and/or by country)</span
    >
  </mat-card>
</div>
<div
  *ngIf="isLoading"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  "
>
  <mat-spinner color="primary"></mat-spinner>
</div>
<ng-container *ngIf="modelSource">
  <table class="table-main">
    <tr>
      <td class="td-container" >
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Subscribers</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small=3">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>System Subscribers</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalUsers | number }}
                        </div>
                        <span class="small">Total subscribers on the system</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small-3">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Listened</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalListened | number }}
                        </div>
                        <span class="small">Total subscribers who have listened to an Advert on the system</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small-3">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Removed</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalRemovedUser | number }}
                        </div>
                        <span class="small">Total removed from the system</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small-3">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Added</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.addedUsers | number }}
                        </div>
                        <span class="small">Subscribers added during period</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small-3">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Listened</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numListened | number }}
                        </div>
                        <span class="small">Subscribers who have listened to an Advert during period</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small-3"></td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>

      <td class="td-container" >
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Finances</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Spend</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.currencyCode }}
                          {{ modelSource.totalSpend | number }}
                        </div>
                        <span class="small"
                          >Total amount of spend</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Credit</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.currencyCode }}
                          {{ modelSource.totalCredit | number }}
                        </div>
                        <span class="small"
                          >Total amount of credit applied to campaigns on the system</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Spent</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.currencyCode }}
                          {{ modelSource.amountSpent | number }}
                        </div>
                        <span class="small">Amount spent during period</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Payments</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.currencyCode }}
                          {{ modelSource.amountCredit | number }}
                        </div>
                        <span class="small"
                          >Amount of payments made by Advertisers during period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td class="td-container" >
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Plays</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title
                        ><h1>Total 6 secs & Over</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.total6Over | number }}
                        </div>
                        <span class="small"
                          >Total plays 6 seconds and over on the system
                        </span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title
                        ><h1>Total Under 6 secs.</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalUnder6 | number }}
                        </div>
                        <span class="small"
                          >Total plays under 6 seconds on the system
                        </span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title
                        ><h1>Total Average Play Length</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalAvgPlayLength | number }}
                        </div>
                        <span class="small">
                          Total seconds played on system / (Total 6 secs & Over
                          + Total Under 6 secs.)</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title><h1>6 Secs. And Over</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.num6Over | number }}
                        </div>
                        <span class="small"
                          >Number of plays 6 seconds and over in period
                        </span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title><h1>Under 6 secs.</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numUnder6 | number }}
                        </div>
                        <span class="small"
                          >Number of plays under 6 second in period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title
                        ><h1>Average Play Length</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numAvgPlayLength | number }}
                        </div>
                        <span class="small">
                          Total seconds played in period / (6 Secs. And Over +
                          Under 6 secs.) in period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content></mat-card
        >
      </td>

      <td class="td-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Average Plays</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title
                        ><h1>Total Avg. Plays Per Subscriber</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalAvgPlays | number }}
                        </div>
                        <span class="small"
                          >(Total 6 secs & Over + Total Under 6 secs.) / System
                          Subscribers</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title
                        ><h1>
                          Total Avg. Plays Per Subscriber Listened
                        </h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalAvgPlaysListened | number }}
                        </div>
                        <span class="small"
                          >(Total 6 secs & Over + Total Under 6 secs.) / Total
                          Listened</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header class="mat-card-header-small">
                      <mat-card-title
                        ><h1>Average Plays Per Subscriber</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numAvgPlays | number }}
                        </div>
                        <span class="small"
                          >(6 Secs. And Over + Under 6 secs.) in period / System
                          Subscribers</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title
                        ><h1>Avg. Plays Per Subscriber Listened</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numAvgPlaysListened | number }}
                        </div>
                        <span class="small"
                          >(6 Secs. And Over + Under 6 secs.) in period /
                          Listened in period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td class="td-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Campaigns & Adverts</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Campaigns</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalCampaigns | number }}
                        </div>
                        <span class="small"
                          >Total number of live campaigns on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Adverts</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalAdverts | number }}
                        </div>
                        <span class="small"
                          >Total number of ads with plays on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Cancelled</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalCancelled | number }}
                        </div>
                        <span class="small"
                          >Total number of cancellations on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Campaigns</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.campaignsAdded | number }}
                        </div>
                        <span class="small"
                          >Number of live campaigns added during period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>

                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title
                        ><h1>Adverts Played</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.advertsProvisioned | number }}
                        </div>
                        <span class="small"
                          >Number of ads created in period with plays </span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Cancelled</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numCancelled | number }}
                        </div>
                        <span class="small"
                          >Cancellations in the period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
      <td class="td-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>SMS & Email</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total SMS</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalSMS | number }}
                        </div>
                        <span class="small"
                          >Total number of SMS on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Email</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalEmail | number }}
                        </div>
                        <span class="small"
                          >Total number of Emails on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>SMS</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numSMS | number }}
                        </div>
                        <span class="small">Total number of SMS in period</span>
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Email</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numEmail | number }}
                        </div>
                        <span class="small"
                          >Total number of Email in period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
    </tr>


    <tr>
      <td class="td-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title><h1>Rewards</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content class="mat-card-content-small">
            <table>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Rewards</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totalRewards | number }}
                        </div>
                        <span class="small"
                          >Total number of occasions rewards assigned on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Users</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totRewardUsers | number }}
                        </div>
                        <span class="small"
                          >Total subscribers assigned rewards on the system</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Total Avg. Rewards</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.totAvgRewards | number }}
                        </div>
                        <span class="small"
                          >Total Rewards on the system / Total Users</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
              <tr>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Rewards</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numRewards | number }}
                        </div>
                        <span class="small"
                          >Number of occasions rewards assigned during period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>

                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title
                        ><h1>Users</h1></mat-card-title
                      >
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numRewardUsers | number }}
                        </div>
                        <span class="small"
                          >Number of subscribers assigned rewards in period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
                <td class="td-small">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title><h1>Average Rewards</h1></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="mat-card-content-small">
                      <ng-container *ngIf="modelSource">
                        <div class="display-values">
                          {{ modelSource.numAvgRewards | number }}
                        </div>
                        <span class="small"
                          >Rewards / Users in the period</span
                        >
                      </ng-container>
                    </mat-card-content>
                  </mat-card>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
      <td class="td-container">

      </td>
    </tr>
  </table>
</ng-container>
