<mat-card style="width: 100%">
  <mat-card-header> Ad Profile Mapping</mat-card-header>
  <mat-card-content>
    <form>
      <!-- </form> [formGroup]="frmStepSix"> -->
      <ng-container *ngIf="profileSelectionModel">
        <mat-accordion class="example-headers-align" multi>
          <app-geographic-profile
            [geographicModel]="profileSelectionModel.campaignProfileGeographicModel"
          ></app-geographic-profile>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="profileSelectionModel">
        <mat-accordion class="example-headers-align" multi>
          <app-demographic-profile
            [demographicModel]="profileSelectionModel.campaignProfileDemographicsmodel"
          ></app-demographic-profile>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="profileSelectionModel">
        <mat-accordion class="example-headers-align" multi>
          <app-adtype-profile
            [adTypeModel]="profileSelectionModel.campaignProfileAd"
          ></app-adtype-profile>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="profileSelectionModel && countryId == 10">
        <mat-accordion class="example-headers-align" multi>
          <app-questionnaire-profile
            [questionnaireModel]="profileSelectionModel.campaignProfileSkizaFormModel"
          ></app-questionnaire-profile>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="profileSelectionModel">
        <mat-accordion class="example-headers-align" multi>
          <app-timebands-profile
            [timesettingsModel]="profileSelectionModel.campaignProfileTimeSettingModel"
          ></app-timebands-profile>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="profileSelectionModel">
        <mat-accordion class="example-headers-align" multi>
          <app-airtime-profile
            [airtimeModel]="profileSelectionModel.campaignProfileMobileFormModel"
          ></app-airtime-profile>
        </mat-accordion>
      </ng-container>

      <mat-card-actions class="button-placement">
        <ng-container *ngIf="!editCampaign">
          <button type="button" matStepperPrevious>Back</button>
          <button type="button" mat-button matStepperNext (click)="form6()">
            Next
          </button>
        </ng-container>
        <ng-container *ngIf="editCampaign">
          <button
            type="button"
            mat-raised-button color="primary"
            [disabled]="profileUpdate"
            (click)="form6()"
          >
            Update
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
    <ng-container *ngIf="profileSuccess">
      <p class="success-message-text">
        The Profile changes were updated successfully
      </p>
    </ng-container>
    <ng-container *ngIf="profileFail">
      <p class="fail-message-text">
        There was an issue updating some or all of your Profile changes
      </p>
    </ng-container>
  </mat-card-content>
</mat-card>
