<body class="page-template-default page page-id-120 responsive-menu-pro-slide-left">
  <header>
      <div class="container d-flex justify-content-between">
          <a href="https://adtones.com/"><img id="logo" src="~/wp-includes/wp-content/themes/adtones/assets/images/logo.png" alt="" title="" /></a>
          <nav>
              <div class="menu-main-menu-container">
                  <ul id="menu-main-menu" class="menu">
                      <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="https://adtones.com/advertisers/">Advertisers</a></li>
                      <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="https://adtones.com/operators/" aria-current="page">Operators</a></li>
                      <li id="menu-item-480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-480"><a href="https://adtones.com/users/">Users</a></li>
                      <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="https://adtones.com/about-us/">About Us</a></li>
                      <li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-87"><a href="">Sign In/Sign Up</a></li>
                      <li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491"><a href="https://adtones.com/contact/">Contact</a></li>
                  </ul>
              </div>
          </nav>
      </div>
  </header>

  <section id="extra_section" class="content-section" style="padding: 45px 0 20px;">
      <div class="container">
          <div class="section-header">
              <h2>
                  Sign In or Sign Up to Advertise
              </h2>
              <p>
              </p>
          </div>
      </div>
  </section>
  <section id="row-1" class="two-columns" style="background: #fff;">
      <div class="container ">
          <div class="row">
              <div class="col-12">
                  <div class="section-header">
                      <h2></h2>
                      <p>
                      </p>
                  </div>
              </div>
          </div>
          <div class="row landing-page reg" style="margin-top: 30px;">
              <div class="col-12 clearfix">
                  <div class="col-sm-6 b-r signin">
                      <h3 class="m-t-none m-b">Sign in</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <span id="result" class="btn-danger" style="display:none;"></span>
                            <div class="form-group">
        <mat-label style="font-weight: 600;">Email</mat-label>
        <input class="form-control1" matInput formControlName="email" type="email" required>
        <mat-error *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          A valid Email is required.
        </mat-error>
      </div>

      <div class="form-group">
        <mat-label style="font-weight: 600;">Password</mat-label>
        <input class="form-control1" matInput formControlName="password" type="password" required>
        <mat-error *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          A valid Password is required.
        </mat-error>
      </div>
      <button class="btn btn-sm btn-primary pull-right m-t-n-xs button1" type="submit" style="border-radius: 3px;margin-top:7px;" [disabled]="loginForm.invalid || submitting"><strong>Log in</strong></button>
      <label style="font-weight: 600;margin-top:5px;"><mat-checkbox class="i-checks">Remember me</mat-checkbox></label>
    </form>
  <div class="form-group" style="clear:both;">
    <a routerLink="/forgot-password" class="fogpwd"><small>Forgot password?</small></a>
  </div>
</div>

<div class="col-sm-6 signup">
  <h3>Sign up with your email</h3>

  <div class="text-center">
      <div>
          <a style="cursor:unset;"><i class="fa fa-sign-in big-icon" style="font-size:150px !important; width: 100%;"></i></a><br /><br />
          <a href='' class="btn btn-sm btn-green pull-left m-t-n-xs" style="border-radius: 3px; color:white; background-color:#094a82;border-color: #094a82;"><strong>Sign Up</strong></a>
      </div>
    </div>
</div>
</div>
<div class="col-md-12">
<hr />
</div>
</div>
</div>
</section>

<section id="extra_section" class="content-section" style="padding: 20px 0 20px;">
  <div class="container">
      <div class="section-header">
          <h2>
              Using Programatic Buying? Remember to Sign Up to our API
          </h2>
          <p>
          </p>
      </div>
      <div class="row">
          <div class="col-12">
          </div>
      </div>
  </div>
</section>
<!--REPEATER-->

<footer>
<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
          <div class="widget">
              <h3 class="footer-title">About Adtones</h3>			<div class="textwidget">
                  <p>
                      Talk to your customers who want to hear from you.<br>
                      Increase your profits with no investment.<br>
                      Get much more from your mobile.
                  </p>
                  <p>Mobile audio marketing that’s good for everyone.</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
          <div class="widget">
              <h3 class="footer-title">Who we are</h3><div class="menu-footer-column-1-container">
                  <ul id="menu-footer-column-1" class="menu">
                      <li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-544"><a href="https://adtones.com/" aria-current="page">Home</a></li>
                      <li id="menu-item-542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="https://adtones.com/about-us/">About Us</a></li>
                      <li id="menu-item-543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-543"><a href="https://adtones.com/contact/">Contact</a></li>
                      <li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-789"><a href="https://adtones.com/cookie-policy/">Cookies</a></li>
                      <li id="menu-item-790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-790"><a href="https://adtones.com/privacy-policy/">Privacy</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
          <div class="widget">
              <h3 class="footer-title">What we do</h3><div class="menu-footer-column-2-container">
                  <ul id="menu-footer-column-2" class="menu">
                      <li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="https://adtones.com/operators/">Operators</a></li>
                      <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="https://adtones.com/advertisers/">Advertisers</a></li>
                      <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="https://adtones.com/users/">Users</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12 mb-4">
          <div class="widget">
              <h3 class="footer-title">Contact us</h3>			<div class="textwidget">
                  <p>
                      Adtones HQ<br>
                      35a South Street<br>
                      London W1K 2XF<br>
                      United Kingdom<br>
                      +44 333 444 2044<br>
                      hello@adtones.com
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
</footer>
<div id="copyright" style="background: #fff;">
<div class="container text-center" id="copyrighttext">  </div>
</div>

<button id="responsive-menu-pro-button"
  class="responsive-menu-pro-button responsive-menu-pro-boring
       responsive-menu-pro-accessible"
  type="button"
  aria-label="Menu">


<span class="responsive-menu-pro-box">
  <span class="responsive-menu-pro-inner"></span>
</span>

</button>

<div id="responsive-menu-pro-container" class="slide-left">
<div id="responsive-menu-pro-wrapper">
  <ul id="responsive-menu-pro" class=""><li id="responsive-menu-pro-item-127" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a href="https://adtones.com/advertisers/" class="responsive-menu-pro-item-link">Advertisers</a></li><li id="responsive-menu-pro-item-122" class=" menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-120 current_page_item responsive-menu-pro-item responsive-menu-pro-current-item responsive-menu-pro-desktop-menu-col-auto"><a href="https://adtones.com/operators/" class="responsive-menu-pro-item-link">Operators</a></li><li id="responsive-menu-pro-item-480" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a href="https://adtones.com/users/" class="responsive-menu-pro-item-link">Users</a></li><li id="responsive-menu-pro-item-244" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a href="https://adtones.com/about-us/" class="responsive-menu-pro-item-link">About Us</a></li><li id="responsive-menu-pro-item-87" class=" menu-item menu-item-type-custom menu-item-object-custom responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a href="#" class="responsive-menu-pro-item-link">Sign In/Sign Up</a></li><li id="responsive-menu-pro-item-491" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a href="https://adtones.com/contact/" class="responsive-menu-pro-item-link">Contact</a></li></ul>
</div>
</div>

</body>
