<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>Demographic </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="demographicModel">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="isFewSelected()"
      (change)="setAll($event.checked)"
    >
      Select All</mat-checkbox
    ><br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Age</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.ageQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Gender</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.genderQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Household Status</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.householdStatusQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Working Status</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.workingStatusQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Realationship Status</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.relationshipStatusQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Education</b></mat-label>
    </span>

    <mat-list *ngFor="let x of demographicModel.educationQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>
  </ng-container>
</mat-expansion-panel>
