<mat-card class="dash-card-main">
  <mat-card-header *ngIf="modelSource">
    <h2>
      Campaign Audit Statistics for Campaign:
      <span style="font-weight: 100;"> {{ modelSource.campaignName }}</span>
       and Advert:
      <span style="font-weight: 100;">{{ modelSource.advertName }}</span>
       Operator:
      <span style="font-weight: 100;">{{ modelSource.operatorName }}</span>
    </h2>
  </mat-card-header>
  <mat-card-content *ngIf="modelSource">
    <div style="display: inline-block; width: 100%;" class="row">
      <mat-card class="small-card">
        <mat-card-content>
          <h5>Plays to Date</h5>
          <br /><br />
          <h1 style="color: #1e90ff;">
            {{ modelSource.totalPlayed | number }}
          </h1>
          <span class="small">Total number of plays to date</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="small-card">
        <mat-card-content>
          <h5>Total Reach</h5>
          <br /><br />
          <h1 style="color: #1e90ff;">
            {{ modelSource.reach | number }}
          </h1>
          <span class="small">Total reach to date</span>
        </mat-card-content>
      </mat-card>
      <mat-card class="small-card">
        <mat-card-content>
          <h5>Average Play Time</h5>
          <br /><br />
          <h1 style="color: #1e90ff;">
            {{ modelSource.averagePlayTime | number: "1.2-2" }}
          </h1>
          <span class="small">Average play time over campaign life</span>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
