<mat-card>
  <mat-card-header> Country Details </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="name" />
        <mat-placeholder>Country Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input
          matInput
          formControlName="shortName"
          [ngModel]="inputvalue"
          (ngModelChange)="inputvalue = $event.toUpperCase()"
        />
        <mat-placeholder>Short Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="countryCode" />
        <mat-placeholder>Int. Dialling Code</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="taxPercentage" />
        <mat-placeholder>Tax Percentage</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="minBid" />
        <mat-placeholder>Min. Bid Value</mat-placeholder>
      </mat-form-field>
      <div class="form-group">
        <div>
          <button
            mat-raised-button
            type="button"
            color="primary"
            class="add-files-btn"
            (click)="addFiles()"
          >
            Upload Terms & Conditions
          </button>
        </div>
        <div class="col-lg-6">
          <input
            type="file"
            #file
            style="display: none"
            (change)="onFilesAdded()"
          />
        </div>
      </div>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || !submitEnabled"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
