<!-- Submitted and no errors -->
<div *ngIf="formSubmitted && !hasCampaignError" class="message-holder">
  <h3>
    <span class="success-class">
      Details submitted successfully and Succesfully Created Campaign:
      {{ campaignName }}
    </span>
  </h3>
  <button type="button" (click)="doneFinally(1)">Done</button>
</div>

<!-- If Errors Exist Prior to Submission such as Camp or Advert Exist -->
<div
  class="message-holder"
  *ngIf="
    !formSubmitted &&
    (hasCampaignError ||
      (campaignErrorMessage != null && campaignErrorMessage.length > 0))
  "
>
  <h3>
    <span style="background-color: rgb(250, 204, 186); width: 30em">{{
      campaignErrorMessage
    }}</span>
  </h3>
  <button type="button" matStepperPrevious (click)="clearError()">Back</button>
</div>

<!-- If Errors Exist after Submission -->
<div
  class="message-holder"
  *ngIf="
    formSubmitted &&
    (hasCampaignError ||
      (campaignErrorMessage != null && campaignErrorMessage.length > 0))
  "
>
  <h3>
    <span style="background-color: rgb(250, 204, 186); width: 30em">{{
      campaignErrorMessage
    }}</span>
  </h3>
  <button type="button" (click)="doneFinally(2)">Exit</button>
</div>

<!-- No errors and awaiting submission -->
<div *ngIf="!hasCampaignError && !formSubmitted" class="message-holder">
  <h3>The form has been completed, please submit details</h3>

  <div class="row" style="margin-left: 3em">
    <button
      type="button"
      style="float: left"
      matStepperPrevious
      (click)="clearError()"
    >
      Back
    </button>
    <div style="width: 5em; float: left"></div>
    <div style="float: left">
      <button type="button" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
