<mat-card>
  <mat-card-header>
    <mat-card-title>Campaign Management</mat-card-title>
  </mat-card-header>
  <span style="margin-left: 82%">
  <a mat-raised-button [routerLink]="['/createcampaign/', advertiserId]">
    <mat-icon>library_add</mat-icon>Create Campaign</a
  ></span>
    <mat-card-content>
    <p class="success-messagetable-text">
      {{ successMessage }}
    </p>
    <div class="table-search">
      <app-table-search
        [sharedModel]="tableSearchModel"
        [statusSelect]="statusSelect"
        [clientSelect]="clientSelect"
        [miscName]="miscName"
        [numberName]="numberName"
        [numberName2]="numberName2"
        (filtered)="filtered($event)"
      ></app-table-search>
    </div>

    <div class="row d-inline-flex export-buttons">
      <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
    </div>
    <table
      mat-table
      matTableExporter
      #exporter="matTableExporter"
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
    >
      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
        <td mat-cell *matCellDef="let element">
          <a
            style="color: blue"
            [routerLink]="['/userdetails/', element.userId]"
            >{{ element.email }}</a
          >
        </td>
      </ng-container> -->

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.clientName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="campaignName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
        <td mat-cell *matCellDef="let element">
          <a
            *ngIf="campaignLink"
            style="color: blue"
            [routerLink]="['/campaignauditdetail/', element.campaignProfileId]"
            >{{ element.campaignName }}</a
          >
          <span *ngIf="!campaignLink">{{ element.campaignName }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="advertName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Advert</th>
        <td mat-cell *matCellDef="let element">
          <a
            *ngIf="advertLink"
            style="color: blue"
            [routerLink]="[
              '/advertisereditadvert/',
              element.userId,
              element.campaignProfileId,
              element.countryId
            ]"
            >{{ element.advertName }}</a
          >
          <span *ngIf="!advertLink">{{ element.advertName }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="finaltotalplays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plays</th>
        <td mat-cell *matCellDef="let element">
          {{ element.finaltotalplays }}
        </td>
      </ng-container>
      <ng-container matColumnDef="reach">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reach</th>
        <td mat-cell *matCellDef="let element">
          {{ element.reach }}
        </td>
      </ng-container>
      <ng-container matColumnDef="totalBudget">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget</th>
        <td mat-cell *matCellDef="let element">
          <span
            ><span class="table-currency-symbol">{{
              currencySymbol[element.currencyCode]
            }}</span
            >{{ element.totalBudget }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="totalSpend">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Spend</th>
        <td mat-cell *matCellDef="let element">
          <span
            ><span class="table-currency-symbol">{{
              currencySymbol[element.currencyCode]
            }}</span
            >{{ element.totalSpend }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="fundsAvailable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Funds Available
        </th>
        <td mat-cell *matCellDef="let element">
          <span style="white-space: nowrap"
            ><span class="table-currency-symbol">{{
              currencySymbol[element.currencyCode]
            }}</span
            >{{ element.fundsAvailable }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="avgBidValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg. Bid</th>
        <td mat-cell *matCellDef="let element">
          <span
            ><span class="table-currency-symbol">{{
              currencySymbol[element.currencyCode]
            }}</span>
            {{ element.avgBidValue }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
          <div *ngSwitchCase="'8'">
            <label class="label label-danger">Paused Insufficient Funds</label>
          </div>
          <div *ngSwitchCase="'7'">
            <label class="label label-info">InProgress</label>
          </div>
          <div *ngSwitchCase="'6'">
            <label class="label label-primary">Waiting Approval</label>
          </div>
          <div *ngSwitchDefault>
            <select
              class="form-control input-s-sm inline"
              [(ngModel)]="element.status"
              (change)="updateStatus(element.campaignProfileId, $event)"
            >
              <option value="1" [selected]="element.status == '1'">
                Planned
              </option>
              <option value="2" [selected]="element.status == '2'">Play</option>
              <option value="3" [selected]="element.status == '3'">
                Pause
              </option>
              <option value="4" [selected]="element.status == '4'">Stop</option>
              <option value="5">Archive</option>
            </select>
          </div>
          <!-- <div *ngSwitchCase="'2'">
              <select
                class="form-control input-s-sm inline"
                (change)="updateStatus(element.campaignProfileId,$event)"
              >
                <option value="1">Planned</option>
                <option value="2" selected="selected">Play</option>
                <option value="3">Pause</option>
                <option value="4">Stop</option>
                <option value="5">Archive</option>
              </select>
            </div>
            <div *ngSwitchCase="'3'">
              <select
                class="form-control input-s-sm inline"
                (change)="updateStatus(element.campaignProfileId,$event)"
              >
                <option value="1">Planned</option>
                <option value="2">Play</option>
                <option value="3" selected="selected">Pause</option>
                <option value="4">Stop</option>
                <option value="5">Archive</option>
              </select>
            </div>
            <div *ngSwitchCase="'4'">
              <select
                class="form-control input-s-sm inline"
                (change)="updateStatus(element.campaignProfileId,$event)"
              >
                <option value="1">Planned</option>
                <option value="2">Play</option>
                <option value="3">Pause</option>
                <option value="4" selected="selected">Stop</option>
                <option value="5">Archive</option>
              </select>
            </div>
            <div *ngSwitchCase="'5'">
              <select
                class="form-control input-s-sm inline"
                (change)="updateStatus(element.campaignProfileId,$event)"
              >
                <option value="1">Planned</option>
                <option value="2">Play</option>
                <option value="3">Pause</option>
                <option value="4">Stop</option>
                <option value="5" selected="selected">Archive</option>
              </select>
            </div>
            <div *ngSwitchDefault>
              <label class="label label-primary">Waiting for approval</label>
            </div> -->
        </td>
      </ng-container>
      <ng-container matColumnDef="rStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
          <div *ngSwitchCase="'8'">
            <label class="label label-danger">Paused Insufficient Funds</label>
          </div>
          <div *ngSwitchCase="'7'">
            <label class="label label-primary">In Progress</label>
          </div>
          <div *ngSwitchCase="'6'">
            <label class="label label-primary">Waiting Approval</label>
          </div>
          <div *ngSwitchDefault>
            <label class="label label-primary">{{ element.rStatus }}</label>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Update Campaign</th>
        <td mat-cell *matCellDef="let element">
          <label
            class="label label-default"
            (click)="updateCampaign(element.userId, element.campaignProfileId)"
            >Edit Campaign</label
          >
          <label
            class="label label-primary"
            (click)="fundCampaign(element.campaignProfileId, element.userId)"
            >Fund Campaign</label
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div
      *ngIf="isLoading"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      "
    >
      <mat-spinner color="primary"></mat-spinner>
    </div>
    <div
      *ngIf="dataSource && dataSource.data.length === 0"
      style="margin: 1.5em 10em 2em 20em; font-size: 2em"
    >
      No records found.
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-paginator
      [pageSizeOptions]="[10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-actions>
</mat-card>
