@import "../../../../../assets/css/dashboard-tables.css";

:host ::ng-deep .sharedNumberRange {
  margin-right: 15%;
}

:host ::ng-deep .sharedNumberRange2 {
  float: left;
}

.mat-column-campaignName {
  width: 235px !important;
}

.mat-column-clientName {
  width: 220px;
}

/* .mat-column-rStatus {
  flex: 0 0 5% !important;
  width: 5% !important;
} */

.mat-column-totalBudget {
  flex: 0 0 6.5% !important;
  width: 125px !important;
}

.mat-column-totalSpend {
  flex: 0 0 8% !important;
  width: 125px !important;
}

.mat-column-fundsAvailable {
  flex: 0 0 7% !important;
  width: 7% !important;
}

.mat-column-avgBidValue {
  flex: 0 0 5% !important;
  width: 85px !important;
}

:host ::ng-deep .sharedNumberRange {
  float: right;
}

.mat-column-status {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-action {
  flex: 0 0 12% !important;
  width: 12% !important;
}
