<div class="row">
  <div class="col-lg-3">
      <div class="ibox">
          <div class="ibox-content">
              <h5 i18n="TotalPlaysPeriod|Total No. of Plays in given period">Total number of plays in period</h5>
              <h1 class="no-margins"> {{ NoOfPlays }}</h1>

              <small i18n="TotalPlaysPeriod|Total No. of Plays in given period">Total number of plays in period</small>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="ibox">
          <div class="ibox-content">
              <h5 i18n="AvgPlaytime|Average length of play">Average play time</h5>
              <h1 class="no-margins">{{ AvgPlayTime }}</h1>

              <small i18n="AvgPlaytime|Average length of play">Average play time</small>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="ibox">
          <div class="ibox-content">
              <h5 i18n="TotalSMS">Total number of SMS</h5>
              <h1 class="no-margins">{{ NoOfSMS }}</h1>

              <small i18n="TotalSMS">Total number of SMS</small>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="ibox">
          <div class="ibox-content">
              <h5 i18n="TotalEmail">Total number of emails</h5>
              <h1 class="no-margins">{{ NoOfEmail }}</h1>

              <small i18n="TotalEmail">Total number of emails</small>
          </div>
      </div>
  </div>
</div>
