<mat-card *ngIf="pageVisible">
  <mat-card-header> Permission Assignment </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="mat-form">
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Update Permissions
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
