<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let control of controls" class="form-row">
    <app-element-level [control]="control" [form]="form"></app-element-level>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
