<mat-card class="dash-card-main">
  <mat-card-header *ngIf="modelSource">
    <h2>
      Campaign Statistics
      <span *ngIf="campaignId > 0"
        >for Campaign:
        <span style="font-weight: 100"> {{ modelSource.campaignName }}</span>
        and Advert:
        <span style="font-weight: 100">{{ modelSource.advertName }}</span></span
      >
      <ng-container *ngIf="salesExecName">
        For {{ salesExecName }}
      </ng-container>
    </h2>
  </mat-card-header>
  <mat-card-content *ngIf="modelSource">
    <div style="display: inline-block; width: 100%" class="row">
      <mat-card class="small-card">
        <mat-card-content>
          <h5>Plays to Date</h5>
          <br /><br />
          <h1 style="color: #1e90ff">
            {{ modelSource.totalPlayed | number }}
          </h1>
          <span class="small">Total number of plays to date</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="small-card">
        <mat-card-content>
          <h5>Spend to Date</h5>
          <br /><br />
          <h1 style="color: #1e90ff">
            {{ modelSource.totalSpend | number }} ({{
              modelSource.currencyCode
            }})
          </h1>
          <span class="small">Total spend to date</span>
        </mat-card-content>
      </mat-card>
      <mat-card class="small-card">
        <mat-card-content>
          <h5>Average Bid</h5>
          <br /><br />
          <h1 style="color: #1e90ff">
            {{ modelSource.averageBid | number: "1.2-2" }} ({{
              modelSource.currencyCode
            }})
          </h1>
          <span class="small">Average bid over campaign life</span>
        </mat-card-content>
      </mat-card>
      <mat-card class="small-card">
        <mat-card-content>
          <h5>Average Play Time</h5>
          <br /><br />
          <h1 style="color: #1e90ff">
            {{ modelSource.averagePlayTime / 1000 | number: "1.2-2" }}
          </h1>
          <span class="small">Average play time over campaign life</span>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="display: inline-block; width: 100%" class="row">
      <mat-card class="small-card blanco">
        <mat-card-content>
          <h5>Free Plays</h5>
          <div class="pie-chart">
            <app-pie-chart
              *ngIf="modelSource"
              #ordersByStatusChart
              [data]="playData"
            ></app-pie-chart>
          </div>
          <h1 style="color: #1e90ff">{{ modelSource.freePlays | number }}</h1>
          <span class="small"
            >{{ modelSource.freePlays / modelSource.totalPlayed | percent }} of
            all plays are under 6 seconds</span
          >
        </mat-card-content>
      </mat-card>
      <mat-card class="small-card blanco">
        <mat-card-content>
          <h5>Total Budget</h5>
          <div class="pie-chart">
            <app-pie-chart
              *ngIf="modelSource"
              #ordersByStatusChart
              [data]="budgetData"
            ></app-pie-chart>
          </div>
          <h1 style="color: #1e90ff">
            {{ modelSource.totalBudget | number }} ({{
              modelSource.currencyCode
            }})
          </h1>
          <span class="small"
            >Spend to date is
            {{ modelSource.totalSpend / modelSource.totalBudget | percent }} of
            budget
          </span>
        </mat-card-content>
      </mat-card>
      <mat-card class="small-card blanco">
        <mat-card-content>
          <h5>Total Reach</h5>
          <div class="pie-chart">
            <app-pie-chart
              *ngIf="modelSource"
              #ordersByStatusChart
              [data]="reachData"
            ></app-pie-chart>
          </div>
          <h1 style="color: #1e90ff">
            {{ modelSource.reach | number }}
          </h1>
          <span class="small"
            >Attained a reach of
            {{ modelSource.reach / modelSource.totalReach | percent }} of
            available subscribers</span
          >
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <div
    *ngIf="isLoading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    "
  >
    <mat-spinner color="primary"></mat-spinner>
  </div>
</mat-card>
