<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Campaign Credit Period (days)</mat-card-title>
    </mat-card-header>
    <span style="margin-left: 82%">
      <a mat-raised-button [routerLink]="['/creditperioddetail/', 0]">
        <mat-icon>library_add</mat-icon>Add Campaign Credit Period</a
      >
    </span>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [fullName]="fullName"
          [miscName]="miscName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advertiser.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
          <td mat-cell *matCellDef="let element">
            {{ element.campaignName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="creditPeriod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Credit Period
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.creditPeriod }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="[
                '/creditperioddetail/',
                element.campaignCreditPeriodId
              ]"
              >Update</a
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
