<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>Questionnaire </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="questionnaireModel">
    <br />
    <div class="row">
      <div class="col-lg-4">
        <span class="headerVisible"
          ><mat-label><b>Hustler</b></mat-label>
        </span>
        <br />
        <mat-radio-group
          class="example-radio-group"
          name="hustlersQuestion"
          (change)="changedSel($event)"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let x of questionnaireModel.hustlersQuestion"
            [checked]="x.selected"
            [value]="x.questionValue"
            name="hustlersQuestion"
            >{{ x.questionName }}</mat-radio-button
          >
        </mat-radio-group>

        <!-- <mat-list *ngFor="let x of questionnaireModel.hustlersQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list> -->
      </div>
      <div class="col-lg-4">
        <span class="headerVisible"
          ><mat-label><b>Youth</b></mat-label>
        </span>
        <br />
        <mat-radio-group
          class="example-radio-group"
          name="youthQuestion"
          (change)="changedSel($event)"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let x of questionnaireModel.youthQuestion"
            [checked]="x.selected"
            [value]="x.questionValue"
            name="youthQuestion"
            >{{ x.questionName }}</mat-radio-button
          >
        </mat-radio-group>

        <!-- <mat-list *ngFor="let x of questionnaireModel.youthQuestion">
          <mat-checkbox
            [(ngModel)]="x.selected"

          >
            {{ x.questionName }}
          </mat-checkbox>
        </mat-list> -->
      </div>
      <div class="col-lg-4">
        <span class="headerVisible"
          ><mat-label><b>Discerning Professionals</b></mat-label>
        </span>
        <br />
        <mat-radio-group
          class="example-radio-group"
          name="discerningProfessionalsQuestion"
          (change)="changedSel($event)"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let x of questionnaireModel.discerningProfessionalsQuestion"
            [checked]="x.selected"
            [value]="x.questionValue"
            name="discerningProfessionalsQuestion"
            >{{ x.questionName }}</mat-radio-button
          >
        </mat-radio-group>

        <!-- <mat-list
          *ngFor="let x of questionnaireModel.discerningProfessionalsQuestion"
        >
          <mat-checkbox
            [(ngModel)]="x.selected"

          >
            {{ x.questionName }}
          </mat-checkbox>
        </mat-list> -->
      </div>
    </div>
    <!-- (ngModelChange)="updateAllComplete()" -->
    <br />
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <span class="headerVisible"
          ><mat-label><b>Mass</b></mat-label>
        </span>
        <br />
        <mat-radio-group
          class="example-radio-group"
          name="massQuestion"
          (change)="changedSel($event)"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let x of questionnaireModel.massQuestion"
            [checked]="x.selected"
            [value]="x.questionValue"
            name="massQuestion"
            >{{ x.questionName }}</mat-radio-button
          >
        </mat-radio-group>

        <!-- <mat-list *ngFor="let x of questionnaireModel.massQuestion">
          <mat-checkbox
            [(ngModel)]="x.selected"

          >
            {{ x.questionName }}
          </mat-checkbox>
        </mat-list> -->
      </div>
    </div>
  </ng-container>
</mat-expansion-panel>
