<mat-card style="margin-top: 2em">
  <mat-card-header style="margin-top: 2em">
    Add Elements To Page
  </mat-card-header>
  <mat-card-content style="margin-top: 2em">
    <ng-container
      *ngFor="
        let userFormGroup of pageForm.controls.elements['controls'];
        let i = index
      "
    >
      <div [formGroup]="userFormGroup">
        <mat-form-field appearance="legacy">
          <input matInput formControlName="name" />
          <mat-placeholder>Element Name</mat-placeholder>
        </mat-form-field>
        <mat-form-field
          floatLabel="always"
          appearance="none"
          class="selection-toggle"
        >
          <mat-slide-toggle formControlName="visible" [checked]="true"
            ><b>Visible: </b>
          </mat-slide-toggle>
          <textarea matInput hidden></textarea>
        </mat-form-field>
        <mat-form-field
          floatLabel="always"
          appearance="none"
          class="selection-toggle"
        >
          <mat-slide-toggle formControlName="enabled" [checked]="true"
            ><b>Enabled</b>
          </mat-slide-toggle>
          <textarea matInput hidden></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="route" />
          <mat-placeholder>Route</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="type" />
          <mat-placeholder>Type</mat-placeholder>
        </mat-form-field>
        <label>
          <button (click)="removeElement(i)">remove element</button>
        </label>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
