<mat-card>
  <mat-card-header><h1>Update Campaign Details</h1></mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="campaignDataModel">
      <app-step-one-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        [campaignCategoryVisible]="campaignCategoryVisible"
        (firstStepData)="firstStepData($event)"
        [campaignData]="campaignDataModel"
        [campFail]="campFail"
        [campSuccess]="campSuccess"
      ></app-step-one-component>
    </ng-container>
    <ng-container *ngIf="stepThreeVisible && countryId != undefined">
    <ng-template matStepLabel>Advert Details</ng-template>
  <app-step-three-component
    [editCampaign]="editCampaign"
    [advertiserId]="advertiserId"
    [countryId]="countryId"
    [campaignId] = "campaignId"
    (thirdStepData)="thirdStepData($event)"
    (advertFile)="advertFile($event)"
    (smsFile)="smsFile($event)"
    [campaignErrorMessage]="campaignErrorMessage"
  ></app-step-three-component>
</ng-container>
    <ng-container *ngIf="stepFourVisible && campaignDataModel">
      <ng-template matStepLabel>Budget Details</ng-template>
      <app-step-four-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        (fourthStepData)="fourthStepData($event)"
        [campaignData]="campaignDataModel"
        [minBid]="minBid"
        [budgetFail]="budgetFail"
        [budgetSuccess]="budgetSuccess"
      ></app-step-four-component>
    </ng-container>
    <ng-container *ngIf="stepFiveVisible && campaignDataModel">
      <ng-template matStepLabel>SMS & Email Details</ng-template>
      <app-step-five-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        (fifthStepData)="fifthStepData($event)"
        [campaignData]="campaignDataModel"
        [smsFail]="smsFail"
        [smsSuccess]="smsSuccess"
      ></app-step-five-component>
    </ng-container>
    <ng-container *ngIf="stepSixVisible && profileSelectionModel">
      <ng-template matStepLabel>Subscriber Proile Data</ng-template>
      <app-step-six-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        (sixthStepData)="sixthStepData($event)"
        [profileSelectionModel]="profileSelectionModel"
        [countryId]="countryId"
        [profileFail]="profileFail"
        [profileSuccess]="profileSuccess"
      ></app-step-six-component>
    </ng-container>
    <!-- <mat-card-actions class="button-placement">
      <ng-container *ngIf="editCampaign">
        <button
          type="button"
          class="btn btn-primary"
          (click)="frmDataComplete(true)"
        >
          Launch Campaign
        </button>
      </ng-container>
    </mat-card-actions> -->
  </mat-card-content>
</mat-card>
