<div [formGroup]="parentForm">
  <mat-list-item role="listitem">
    <span class="matlistitem element_name"
      ><mat-label><b>Name: </b></mat-label>
      <input matInput formControlName="name" />
    </span>
    <span class="matlistitem toggles"
      ><mat-label><b>Visible: </b></mat-label>
      <mat-slide-toggle formControlName="visible"> </mat-slide-toggle
    ></span>
    <span class="matlistitem toggles" *ngIf="parentForm.enabled"
      ><mat-label><b>Enabled: </b></mat-label>
      <mat-slide-toggle formControlName="enabled"> </mat-slide-toggle
    ></span>
    <span class="matlistitem route-outer"
      ><mat-label><b>Route: </b></mat-label>
      <input matInput formControlName="route" class="route-input" />
    </span>
    <span class="matlistitem standard-type-outer"
      ><mat-label><b>Type: </b></mat-label>
      <input matInput formControlName="type" class="standard-type-input" />
    </span>
    <span class="matlistitem standard-type-outer"
      ><mat-label><b>Data Limit: </b></mat-label>
      <input
        matInput
        formControlName="arrayId"
        class="standard-type-input"
        pattern="\d{1,2}(,\d{3})*(\.\d+)?"
      />
    </span>
    <!-- <span class="matlistitem" style="width: 350px;"
      ><mat-label><b>Description: </b></mat-label>
      <input matInput formControlName="description" style="width: 150px;">
      </span
    > -->
  </mat-list-item>

  <div formArrayName="elements">
    <table style="margin-left: 30px; padding-left: 30px">
      <tr>
        <td class="table-width"></td>
        <td>
          <mat-list
            role="list"
            *ngFor="let el of getElementsFor(); let attributeIndex = index"
            style="background-color: lightslategrey"
          >
            <div [formGroupName]="attributeIndex">
              <mat-list-item role="listitem">
                <span class="matlistitem element_name"
                  ><mat-label><b>Name: </b></mat-label>
                  <input matInput formControlName="name" />
                </span>
                <span class="matlistitem toggles"
                  ><mat-label><b>Visible: </b></mat-label>
                  <mat-slide-toggle formControlName="visible">
                  </mat-slide-toggle
                ></span>
                <span class="matlistitem toggles"
                  ><mat-label><b>Enabled: </b></mat-label>
                  <mat-slide-toggle formControlName="enabled">
                  </mat-slide-toggle
                ></span>
                <span class="matlistitem route-outer"
                  ><mat-label><b>Route: </b></mat-label>
                  <input matInput formControlName="route" class="route-input" />
                </span>
              </mat-list-item>
            </div>
          </mat-list>
        </td>
      </tr>
    </table>
  </div>
</div>
