.element_name {
  width: 265px;
}

.toggles {
  width: 110;
  padding: 0 2px;
  margin: 0 3px;
}

.standard-type-outer {
  width: 180px;
  padding: 0 3px;
}

.standard-type-input {
  width: 90px;
  padding: 0 3px;
}

.route-outer {
  width: 215px;
  padding: 0 3px;
}

.route-input {
  width: 155px;
  padding: 0 3px;
}

.table-width {
  width: 12px;
}
