<mat-card class="chat-message left">
  <mat-card-content class="message">
    <h3>
      <span style="font-weight: 500;">Comment By: </span>{{ comment.userName }}
    </h3>
    <h3>
      <span style="font-weight: 500;">Comment Date: </span
      >{{ comment.commentDate | date : "EEEE, MMMM d, y, h:mm" }}
    </h3>
    <span>
      <h3 style="font-weight: 500;">Comment:</h3>
      {{ comment.description }}
    </span>

    <div *ngIf="comment.imageFile">
      <div style="float: right;">
        <a
          style="color: green; cursor: pointer;"
          (click)="GetCommentImages(comment.imageFile)"
          >View Image</a
        >
      </div>

      <div style="clear: both;"></div>
    </div>
  </mat-card-content>
</mat-card>
