<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Operator Management</mat-card-title>
    </mat-card-header>
    <span style="margin-left: 85%">
      <a mat-raised-button [routerLink]="['/addoperator/', 0]">
        <mat-icon>library_add</mat-icon>Add Operator</a
      >
    </span>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [countrySelect]="countrySelect"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="operatorName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Operator.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.operatorName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="countryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.countryName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emailCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Cost.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.emailCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="smsCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SMS Cost</th>
          <td mat-cell *matCellDef="let element">
            {{ element.smsCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
          <td mat-cell *matCellDef="let element">
            {{ element.currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>IsActive</th>
          <td mat-cell *matCellDef="let element">
            {{ element.isActive }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              class="label label-primary"
              mat-raised-button
              [routerLink]="['/addoperator/', element.operatorId]"
            >
              Update
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
