<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
      <div>

          <h1 class="logo-name">ad+</h1>

      </div>

      <div class="row">
          <div class="large-12 columns">

              <h2>Verify Email Address</h2>

              <div class="clr10"></div>
              <p style="font-size:15px;">We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.</p>
              <div class="clr20"></div>

          </div>
      </div>
  </div>
</div>
