<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>AirTime Usage </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="airtimeModel">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="isFewSelected()"
      (change)="setAll($event.checked)"
    >
      Select All</mat-checkbox
    ><br />
    <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Mobile Plan</b></mat-label>
    </span>

    <mat-list *ngFor="let x of airtimeModel.contractTypeQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Average Monthly Spend</b></mat-label>
    </span>

    <mat-list *ngFor="let x of airtimeModel.spendQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>

  <div class="col-lg-2"></div>
</div>
  </ng-container>
</mat-expansion-panel>

