<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">{{ errorMessage }}</mat-error>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="username"
          required
        />
        <mat-error *ngIf="form.get('username').invalid && (form.get('username').dirty || form.get('username').touched)">
          A valid Email is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">
          A valid Password is required.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid || submitting">Login</button>
    </form>
    <!-- <h3> My public IP address is </h3>
<p>{{ipaddress}}</p>
<h4>IP Address Info</h4>
<p>country : {{country}}</p> -->
<!-- <p>latitude : {{latitude}}</p>
<p>longitude : {{longitude}}</p>
<p>currency : {{currency}}</p> -->
<!-- <p>currencysymbol : {{currencysymbol}}</p> -->
<!-- <p>city : {{city}}</p> -->

<!-- <p>isp : {{isp}}</p> -->
<!-- <p>Languages : {{ languages }}</p> -->
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="loginStr"
      (keydown.enter)="onSubmit()"
    >
      Forgot Password
    </button>
  </mat-card-actions>
</mat-card>
