<mat-card>
  <mat-card-header> Profile </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput type="email" formControlName="email" />
        <mat-placeholder>Email Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.firstNameVisible">
        <input
          name="firstName"
          id="firstName"
          matInput
          formControlName="firstName"
          required
        />
        <mat-placeholder>First Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.lastNameVisible">
        <input matInput formControlName="lastName" required />
        <mat-placeholder>Last Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.organisationVisible">
        <input matInput formControlName="organisation" />
        <mat-placeholder>Organisation/Company</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.outstandingdaysVisible">
        <input type="number" matInput formControlName="outstandingdays" />
        <mat-placeholder>Outstanding Duedate Days</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.roleIdVisible">
        <mat-select placeholder="Role" formControlName="roleId">
          <mat-option *ngFor="let item of roleSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<!-- <div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-sm btn-blue" type="submit">Submit</button>
      <button class="btn btn-sm btn-white" onclick="window.location.href='/Admin/UserManagement/Index'" type="button">Cancel</button>
  </div>
</div> -->
