<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ tableHeader }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-log-test></app-log-test>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [statusSelect]="statusSelect"
          [countrySelect]="countrySelect"
          [fullName]="fullName"
          [miscName]="miscName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>
      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="emailLink; else mailBlock"
              style="color: blue"
              [routerLink]="['/userdetails/', element.userId]"
              >{{ element.email }}</a
            >
            <ng-template #mailBlock>{{ element.email }}</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesExec == 'UnAllocated'; else salesBlock">
              {{ element.salesExec }}
            </div>
            <ng-template #salesBlock>
              <a
                style="color: blue"
                [routerLink]="['/userdetails/', element.sUserId]"
                >{{ element.salesExec }}</a
              >
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th
            class="th-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Name.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fullName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th
            class="th-center"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Company.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.companyName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.mobileNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.role }}
          </td>
        </ng-container>
        <ng-container matColumnDef="noOfactivecampaign">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaigns</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.noOfactivecampaign > 0 && campLink"
              style="color: blue"
              [routerLink]="['/campaigntable/', element.userId]"
              >{{ element.noOfactivecampaign }}</a
            >
            <span *ngIf="element.noOfactivecampaign == 0 || !campLink">{{
              element.noOfactivecampaign
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="noAdvertisers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            No. Advertisers
          </th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.noAdvertisers > 0"
              style="color: blue"
              [routerLink]="['/ads/', element.userId]"
              >{{ element.noAdvertisers }}</a
            >
            <span *ngIf="element.noAdvertisers == 0">{{
              element.noAdvertisers
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="noOfunapprovedadverts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ads Awaiting
          </th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.noOfunapprovedadverts > 0 && advertLink"
              style="color: blue"
              [routerLink]="['/adverttable/', element.userId]"
              >{{ element.noOfunapprovedadverts }}</a
            >
            <span *ngIf="element.noOfunapprovedadverts == 0 || !advertLink">{{
              element.noOfunapprovedadverts
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="ticketCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tickets</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="ticketLink && element.ticketCount > 0"
              style="color: blue"
              [routerLink]="['/tickets/', element.userId]"
              >{{ element.ticketCount }}</a
            >
            <span *ngIf="!ticketLink">{{ element.ticketCount }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="creditlimit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Credit Limit
          </th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.creditlimit > 0 && creditLink"
              style="color: blue"
              [routerLink]="['/advertisercreditdetails/', element.userId]"
              >{{ element.creditlimit }}</a
            >
            <span *ngIf="element.creditlimit == 0 || !creditLink">{{
              element.creditlimit
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="outstandinginvoice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            O/D Invoices
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.outstandinginvoice }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Created Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.dateCreated | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.activated">
            <label *ngSwitchCase="'0'" class="label label-default"
              >Pending</label
            >
            <label *ngSwitchCase="'1'" class="label label-primary"
              >Approved</label
            >
            <label *ngSwitchCase="'2'" class="label label-danger"
              >Suspended</label
            >
            <label *ngSwitchDefault class="label label-danger">Suspended</label>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.activated">
            <a
              class="btn btn-danger btn-xs"
              *ngSwitchCase="'1'"
              (click)="updatestatus(element.userId, 2)"
              >Suspend</a
            >
            <a
              class="label label-primary"
              *ngSwitchCase="'2'"
              (click)="updatestatus(element.userId, 1)"
              >Approve</a
            >
            <a
              class="label label-primary"
              *ngSwitchCase="'0'"
              (click)="updatestatus(element.userId, 1)"
              >Approve</a
            >
            <a
              class="btn btn-danger btn-xs"
              *ngSwitchCase="'0'"
              (click)="updatestatus(element.userId, 2)"
              >Suspend</a
            >
            <div *ngSwitchDefault></div>
          </td>
        </ng-container>
        <!-- <div *ngIf="dataSource.data.length === 0">
          No Records Found!
        </div> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
