<mat-card>
  <mat-card-header><h2>Permission Raw Data</h2> </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field style="width: 300px">
          <mat-select
            placeholder="User"
            formControlName="userId"
            (selectionChange)="getUserPermission($event)"
          >
            <mat-option *ngFor="let item of userSelect" [value]="item.value">
              {{ item.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 300px">
          <textarea
            matInput
            type="text"
            formControlName="permissions"
            [value]="userPerms | json"
            cdkTextareaAutosize
            cdkAutosizeMinRows="20"
            cdkAutosizeMaxRows="50000"
          ></textarea>
          <mat-placeholder>Permissions</mat-placeholder>
        </mat-form-field>
      </div>
      <p class="success-message-text">
        {{ successMessage }}
      </p>
      <p class="success-message-text">{{ failMessage }}</p>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
