<mat-card style="width: 100%">
  <mat-card-header><h1><b>User Profile</b>  SubscriberID: {{ userId }}</h1></mat-card-header>
  <mat-card-content>
    <form>
      <ng-container *ngIf="demoProfile">
        <mat-accordion class="example-headers-align" multi>
          <!-- <app-geographic-profile
            [geographicModel]="profileSelectionModel.campaignProfileGeographicModel"
          ></app-geographic-profile> -->
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="demoProfile">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="position: relative">
                <span class="headerVisible"
                  ><mat-label><b>Demographic </b></mat-label>
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="demoProfile">
              <div class="row">
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Age:</b></mat-label
                    ><span style="margin-left: 1em">{{ demoProfile.age }}</span>
                  </span>
                </div>
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Gender:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      demoProfile.gender_Demographics
                    }}</span>
                  </span>
                </div>
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Location:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      demoProfile.location_Demographics
                    }}</span>
                  </span>
                </div>
                <!-- <div class="col-lg-4">
              <span class="headerVisible"
                ><mat-label><b>Household Status</b></mat-label>
              </span>

              <mat-list *ngFor="let x of demographicModel.householdStatusQuestion">
                <mat-checkbox
                  [(ngModel)]="x.selected"
                  (ngModelChange)="updateAllComplete()"
                >
                  {{ x.questionName }}
                </mat-checkbox>
              </mat-list>
            </div>
          </div>

          <br />
              <div class="row">
              <div class="col-lg-4">
              <span class="headerVisible"
                ><mat-label><b>Working Status</b></mat-label>
              </span>

              <mat-list *ngFor="let x of demographicModel.workingStatusQuestion">
                <mat-checkbox
                  [(ngModel)]="x.selected"
                  (ngModelChange)="updateAllComplete()"
                >
                  {{ x.questionName }}
                </mat-checkbox>
              </mat-list>
            </div>
            <div class="col-lg-4">
              <span class="headerVisible"
                ><mat-label><b>Realationship Status</b></mat-label>
              </span>

              <mat-list *ngFor="let x of demographicModel.relationshipStatusQuestion">
                <mat-checkbox
                  [(ngModel)]="x.selected"
                  (ngModelChange)="updateAllComplete()"
                >
                  {{ x.questionName }}
                </mat-checkbox>
              </mat-list>
            </div>
            <div class="col-lg-4">
              <span class="headerVisible"
                ><mat-label><b>Education</b></mat-label>
              </span>

              <mat-list *ngFor="let x of demographicModel.educationQuestion">
                <mat-checkbox
                  [(ngModel)]="x.selected"
                  (ngModelChange)="updateAllComplete()"
                >
                  {{ x.questionName }}
                </mat-checkbox>
              </mat-list>
            </div> -->
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <ng-container *ngIf="skizaProfile && skizaProfile.countryId == 10">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="position: relative">
                <span class="headerVisible"
                  ><mat-label><b>Questionnaire </b></mat-label>
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="skizaProfile">
              <br />
              <div class="row">
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Hustler:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      skizaProfile.hustlers_AdType
                    }}</span>
                  </span>
                  <br />
                </div>
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Youth:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      skizaProfile.youth_AdType
                    }}</span>
                  </span>
                  <br />
                </div>
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Discerning Professionals:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      skizaProfile.discerningProfessionals_AdType
                    }}</span>
                  </span>
                  <br />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <span class="headerVisible"
                    ><mat-label><b>Mass:</b></mat-label
                    ><span style="margin-left: 1em">{{
                      skizaProfile.mass_AdType
                    }}</span>
                  </span>
                  <br />
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
<div style="margin-bottom:30%"></div>
