@import "../../../../../assets/css/dashboard-tables.css";

table {
  width: 85%;
  margin-left: 5%;
}

.table-search {
  margin-left: 7%;
}

.mat-card {
  width:70%;
  padding-left: 10%;
  margin-left: 15%;
}

.export-buttons {
  margin-right: 30%;
}

.mat-paginator {
  margin-right: 16%;
}

.mat-column-name {
  flex: 0 0 45% !important;
  width: 45% !important;
}

.mat-column-createdDate {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-countryName {
  flex: 0 0 23% !important;
  width: 23% !important;
}

.mat-column-action {
  flex: 0 0 17% !important;
  width: 17% !important;
}
