<mat-card>
  <mat-card-header>
    {{ pageHeader }}
  </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Advertiser</mat-label>
        <mat-select placeholder="Advertiser" formControlName="userId">
          <mat-option *ngFor="let item of userSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Credit Limit</mat-label>
        <input matInput formControlName="assignCredit" />
        <mat-placeholder>Credit Limit</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select placeholder="Currency" formControlName="currencyId">
          <mat-option *ngFor="let item of currencySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid || !submitEnabled"
        >
          {{ submitButton }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="editForm && userModel">
  <mat-card>
    <mat-card-header>Credit Payment History</mat-card-header>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="userModel.paymentHistory"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef>
            ;&nbsp;&nbsp;&nbsp;&nbsp;Invoice Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.invoiceNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Payment Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>
