<div class="row d-inline-flex export-buttons">
  <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
  <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
</div>

<table
  mat-table
  matTableExporter
  #exporter="matTableExporter"
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Email.
    </th>
    <td mat-cell *matCellDef="let element">
      <a
        style="color: blue;"
        [routerLink]="['/userdetails/', element.userId]"
        >{{ element.email }}</a
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Name.
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fullName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="organisation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Organisation.
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.organisation }}
    </td>
  </ng-container>
  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Credit Limit
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.credit }}
    </td>
  </ng-container>
  <ng-container matColumnDef="availableCredit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Available Credit
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.availableCredit }}
    </td>
  </ng-container>
  <ng-container matColumnDef="totalUsed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Used Credit
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalUsed }}
    </td>
  </ng-container>
  <ng-container matColumnDef="totalPaid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Paid Credit
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalPaid }}
    </td>
  </ng-container>
  <ng-container matColumnDef="remainingAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Outstanding Amount
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.remainingAmount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>{{ createdDateDisplay }}</span>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.createdDate | date: "d/M/yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      Action
    </th>
    <td mat-cell *matCellDef="let element">
      <a style="color: blue;" [routerLink]="['/advertisercreditdetails/', element.userId]"
        >Update</a
      >
    </td>
  </ng-container>
  <!-- XXXXXXXXXX FOR INVOICES XXXXXXXXX -->
  <ng-container matColumnDef="invoiceNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Invoice Number
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.invoiceNumber }}
    </td>
  </ng-container>
  <ng-container matColumnDef="poNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      PO Number
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.poNumber }}
    </td>
  </ng-container>
  <ng-container matColumnDef="settledDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>Settled Date</span>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.settledDate | date: "d/M/yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Client.
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.clientName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="campaignName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Campaign
    </th>
    <td mat-cell *matCellDef="let element">
      <a
              style="color: blue;"
              [routerLink]="['/campaigntablesingle/', element.campaignProfileId]"
              >{{ element.campaignName }}</a
            >
    </td>
  </ng-container>
  <ng-container matColumnDef="rStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.rStatus }}
    </td>
  </ng-container>
  <ng-container matColumnDef="invoiceTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Invoice Total
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.invoiceTotal }}
    </td>
  </ng-container>
  <ng-container matColumnDef="paymentMethod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Payment Method
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.paymentMethod }}
    </td>
  </ng-container>

  <ng-container matColumnDef="creditAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Total Amount
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.creditAmount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="paidAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Amount Paid
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.paidAmount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="outstandingAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Outstanding Amouunt
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.outstandingAmount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Description
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.description }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.status }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
