@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 4%;
}

.mat-card {
  width: 80%;
  margin-left: 10%;
  padding: 2% 7%;
}

.mat-cell {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-systemConfigKey {
  flex: 0 0 27% !important;
  width: 27% !important;
}

.mat-column-systemConfigValue {
  flex: 0 0 35% !important;
  width: 35% !important;
}

.mat-column-systemConfigType {
  flex: 0 0 14% !important;
  width: 14% !important;
}

.mat-column-createdDate {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-action {
  flex: 0 0 8% !important;
  width: 8% !important;
}
