<mat-card>
  <mat-card-header
    i18n="Advert Details|An introduction header for Adverts Add Update"
  >
    Advert Details</mat-card-header
  >
  <mat-card-content>
    <div
      class="message-holder"
      *ngIf="
    (hasCampaignError ||
      (campaignErrorMessage != null && campaignErrorMessage.length > 0))
  "
    >
      <h4>
        <span style="background-color: rgb(250, 204, 186); width: 30em"
          >{{ campaignErrorMessage }}</span
        >
      </h4>
    </div>
    <form [formGroup]="frmStepThree">
      <ng-container *ngIf="!editCampaign">
        <mat-form-field>
          <mat-select
            (selectionChange)="onChange()"
            placeholder="Advert Category"
            formControlName="advertCategoryId"
            i18n="Advert Category|label for Advert category"
          >
            <mat-option
              *ngFor="let item of categorySelect"
              [value]="item.value"
            >
              {{ item.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <input matInput formControlName="advertName" required />
          <mat-placeholder
            i18n="Advert Name|An introduction header for this sample"
            >Advert Name</mat-placeholder
          >
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="editCampaign">
        <mat-form-field appearance="legacy">
          <input matInput formControlName="advertName" required />
          <mat-placeholder
            i18n="Advert Name|An introduction header for this sample"
            >Advert Name</mat-placeholder
          >
        </mat-form-field>
        <mat-form-field>
          <mat-select
            (selectionChange)="onChange()"
            placeholder="Advert Category"
            formControlName="advertCategoryId"
            i18n="Advert Category|label for Advert category"
          >
            <mat-option
              *ngFor="let item of categorySelect$ | async"
              [value]="item.value"
            >
              {{ item.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <input matInput formControlName="campaignName" />
          <mat-placeholder
            i18n="Campaign Name|An introduction header for this sample"
            >Campaign</mat-placeholder
          >
        </mat-form-field>
      </ng-container>

      <mat-form-field *ngIf="brandVisible">
        <input matInput formControlName="brand" />
        <mat-placeholder i18n="Brand|The adverts brand">Brand</mat-placeholder>
      </mat-form-field>

      <!-- Audio upload and preview section -->
<div class="form-group">
  <label for="audioUpload" class="form-label" i18n="AudioFileLabel|Label for audio file input">Audio File (Max 1MB, WAV format)</label>
  <input
    type="file"
    class="form-control"
    (change)="onAudioFileChange($event)"
    #audioUpload
    id="audioUpload"
    name="audioUpload"
    accept=".wav"
    formControlName="audioUpload"
  />
  <div *ngIf="audioFileError" class="alert alert-danger">
    {{ audioFileError }}
  </div>
  <div *ngIf="uploadedAudioURL || existingAudioURL">
    <label class="form-label" i18n="AudioPreviewLabel|Label for audio preview">Audio Preview:</label>
    <audio
      class="audio-small"
      controls="controls"
      [src]="uploadedAudioURL || existingAudioURL"
    ></audio>
  </div>
</div>
      <div style="margin: 2px 0 2px 0; border-width: 3px; border-color: black">
        <mat-form-field appearance="legacy" class="form-group">
          <textarea
            matInput
            cols="25"
            rows="4"
            formControlName="script"
            style="margin-top: 5px"
          ></textarea>
          <mat-placeholder i18n="Script|write or paste the advert script"
            >Write OR Paste Advert script here (optional)</mat-placeholder
          >
        </mat-form-field>
      </div>
      <mat-form-field class="form-group">
        <mat-select
          placeholder="Operator"
          formControlName="operatorId"
          i18n-placeholder
        >
          <mat-option *ngFor="let item of operatorSelect$ | async" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions class="button-placement">
        <ng-container *ngIf="!editCampaign">
          <button type="button" matStepperPrevious (click)="clearError()">
            Back
          </button>
          <button
            *ngIf="frmStepThree.valid"
            type="button"
            mat-button
            matStepperNext
            (click)="form3()"
          >
            Next
          </button>
        </ng-container>
        <ng-container *ngIf="editCampaign">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="updateAdvert()"
            [disabled]="!frmStepThree.valid || advertUpdate && (frmStepThree.touched || frmStepThree.dirty)"
            i18n="Update|Update details"
          >
            Update
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
