<mat-card>
  <mat-card-header> Make A Payment </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="fullName" />
        <mat-placeholder>Advertiser</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="campaignName" />
        <mat-placeholder>Campaign</mat-placeholder>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <input matInput formControlName="invoiceNumber" />
        <mat-placeholder>Invoice Number</mat-placeholder>
      </mat-form-field>

      <ng-container>
        <mat-form-field appearance="legacy">
          <input matInput formControlName="outstandingAmount" />
          <mat-placeholder>Outstanding Amount</mat-placeholder>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="amount" type="number" />
        <mat-placeholder>Amount</mat-placeholder>
        <span *ngIf="f.amount.errors" style="color: red">
          The amount cannot be more than the outstanding balance.
        </span>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="description" />
        <mat-placeholder>Description</mat-placeholder>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || !submitEnabled"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
