<mat-card>
  <mat-card-header>
    <mat-card-title>Assign Advertisers To Sales Execs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div cdkDropListGroup>
        <div class="drag-container">
          <h3 style="margin-bottom: 1em; margin-top: 0.5em">Unallocated</h3>

          <div
            *ngIf="unallocatedList"
            cdkDropList
            [cdkDropListData]="unallocatedList"
            class="drag-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="drag-box" *ngFor="let item of unallocatedList" cdkDrag>
              {{ item.fullName }}
            </div>
          </div>
        </div>

        <div class="drag-container">
          <mat-form-field>
            <mat-select
              placeholder="1st Sales Executive"
              formControlName="userId"
              (selectionChange)="getUserPermission($event)"
            >
              <mat-option *ngFor="let item of userSelect" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div
            *ngIf="allocatedList1"
            cdkDropList
            [cdkDropListData]="allocatedList1"
            class="drag-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="drag-box" *ngFor="let item of allocatedList1" cdkDrag>
              {{ item.fullName }}
            </div>
          </div>
        </div>

        <div class="drag-container">
          <mat-form-field>
            <mat-select
              placeholder="2nd Sales Executive"
              formControlName="id"
              (selectionChange)="getUserPermission2($event)"
            >
              <mat-option *ngFor="let item of userSelect" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div
            *ngIf="allocatedList2"
            cdkDropList
            [cdkDropListData]="allocatedList2"
            class="drag-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="drag-box" *ngFor="let item of allocatedList2" cdkDrag>
              {{ item.fullName }}
            </div>
          </div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
