<h1 mat-dialog-title>Issue Screenshot</h1>
<div mat-dialog-content>
  <p>
    <img [src]="data.src" />
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
