<mat-card>
  <mat-card-header> Contact Information </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">{{ successMessage }}</p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy" *ngIf="this.emailVisible">
        <input matInput type="email" formControlName="email" />
        <mat-placeholder>Email Address</mat-placeholder>
        <mat-hint align="end">Fill with the valid email ^</mat-hint>
      </mat-form-field>
      <mat-form-field *ngIf="this.phoneNumberVisible">
        <input matInput formControlName="phoneNumber" />
        <mat-placeholder>Phone Number</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.mobileNumberVisible">
        <input matInput formControlName="mobileNumber" required />
        <mat-placeholder>Mobile Number</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.addressVisible">
        <input matInput formControlName="address" />
        <mat-placeholder>Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.fixedLineVisible">
        <input matInput formControlName="fixedLine" />
        <mat-placeholder>Fixed Line</mat-placeholder>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<!-- <div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-sm btn-blue" type="submit">Submit</button>
      <button class="btn btn-sm btn-white" onclick="window.location.href='/Admin/UserManagement/Index'" type="button">Cancel</button>
  </div>
</div> -->
