.middle-box {
  margin: 10em 50em;

}


.text-center{
  text-align: center;
}


.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}



.clr10 {
  clear: both;
  height: 10px;
  overflow: hidden;
}

.clr15 {
  clear: both;
  height: 15px;
  overflow: hidden;
}

.clr20 {
  clear: both;
  height: 20px;
  overflow: hidden;
}
