<div class="middle-box text-center">
  <div>
      <div>

          <h1 class="logo-name">ad+</h1>

      </div>

      <div class="row">
          <div class="large-12 columns">

              <h2>Forgot Password Confirmation</h2>

              <div class="clr10"></div>
              <p style="font-size:15px;">Please check your email to reset your password.</p>
              <div class="clr20"></div>

          </div>
      </div>
  </div>
</div>
