@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  width: 90%;
}

.mat-form-field .sharedResponse {
  float: right;
}

.mat-cell {
  font-size: 12px;
}

:host ::ng-deep .typeName {
  margin-left: 4.5%;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

:host ::ng-deep .sharedResponse {
  float: left;
}

.mat-column-email {
  width: 175px !important;
}

.mat-column-userName {
  width: 155px !important;
}

.mat-column-organisation {
  width: 140px !important;
}

.mat-column-createdDate {
  width: 85px !important;
}

.mat-column-paymentMethod {
  width: 85px !important;
}

.mat-column-lastResponseDatetime {
  width: 90px !important;
}

.mat-column-rStatus {
  width: 83px !important;
}

.mat-column-action {
  width: 93px !important;
}
