<div [formGroup]="pageForm" class="selection-elements">
  <!-- <mat-form-field class="selection-select">
    <mat-select placeholder="Users" formControlName="users" multiple>
      <mat-option *ngFor="let item of userSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field>
    <mat-select
      placeholder="Roles"
      formControlName="roles"
      multiple
      (selectionChange)="allRoleCheck($event)"
    >
      <mat-option *ngFor="let item of roleSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selection-toggle">
    <mat-slide-toggle formControlName="all" [checked]="false"
      ><b>All</b>
    </mat-slide-toggle>
    <textarea matInput hidden></textarea>
  </mat-form-field>
</div>
