@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 4%;
}

.mat-card {
  width: 70%;
  margin-left: 10%;
  padding: 2% 9%;
}

.mat-column-rewardName {
  flex: 0 0 45% !important;
  width: 45% !important;
}

.mat-column-rewardValue {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-operatorName {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-createdDate {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-action {
  flex: 0 0 10% !important;
  width: 10% !important;
}
