mat-card {
  margin: 2.5em 1.25em;
}

form .selection-elements {
  margin-left: 55%;
}

mat-card-header {
  font-size: 2em;
}

mat-form-field {
  margin: 0 15px;
}

.heading-label {
  float: left;
}

.selection-select {
  width: 300px;
  margin-right: 20px;
}

.selection-toggle {
  max-width: 120px;
  margin-right: 5px;
  margin-left: 5px;
}
