.mat-card-main{
  width:60%;
  margin: 2% 0 18% 20%;
  padding:2%;
}

mat-card-title{
  font-size: 2.2em;
  font-weight: 900;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

mat-card-subtitle{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
}

mat-card-actions{
  clear: both;
  margin: 10% 0 15% 25%;
  padding-bottom: 4%;
}


h3 {
  margin: 10px;
  font-size: 1.5em;
  font-weight: 900;
}

.ticket-panel-left{
  width:450px;
  float: left;
  margin-bottom: 85px;
}

.ticket-panel-right{
  width:450px;
  float: right;
  margin-bottom: 85px;
}

.ticket-detail-left{
  margin: 10px;
  font-size: 1.2em;
}

label{
  margin-right: 8px;
}

.ticket-detail-left .ticket-detail-labels label{
  font-weight: 900;
}

.ticket-detail-labels{
  display: inline-block;
  margin: 15px;
  width: 100%;
}

.ticket-detail-labels .label-primary{
    margin-right: 0px;
    background-color: #1e90ff;
    color: #ffffff;
    float: left;
    padding:3px;
}

.ticket-detail-labels .label-danger{
  margin-right: 0px;
  background-color: #ED5565;
  color: #ffffff;
  float: left;
  padding:3px;
}

