<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>

  <div style="margin: 5% 15% 32% 31%" *ngIf="isError">
    <h1>
      <span style="background-color: rgb(250, 204, 186); width: 30em">{{
        errorMessage
      }}</span>
    </h1>
  </div>
  <mat-card class="mat-card-main" *ngIf="userModel">
    <mat-card-header>
      <mat-card-title>Ticket Details</mat-card-title>
      <mat-card-subtitle *ngIf="userModel"
        >Ticket ID: {{ userModel.qNumber }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="ticket-panel-left">
        <div class="ticket-detail-left">
          <div class="form-group ticket-detail-labels">
            <label>Subject: </label
            ><span *ngIf="userModel"> {{ userModel.questionTitle }}</span>
          </div>
          <div
            class="form-group ticket-detail-labels"
            *ngIf="userModel && userModel.clientName.length > 3"
          >
            <label>Client: </label>{{ userModel.clientName }}
          </div>
          <div
            class="form-group ticket-detail-labels"
            *ngIf="userModel && userModel.campaignName != null"
          >
            <label>Campaign: </label
            ><span *ngIf="userModel">{{ userModel.campaignName }}</span>
          </div>
          <div class="form-group ticket-detail-labels" *ngIf="userModel">
            <label style="float: left">Status: </label>
            <div [ngSwitch]="userModel.status">
              <label *ngSwitchCase="'1'" class="label label-primary">{{
                userModel.rStatus
              }}</label>
              <label *ngSwitchCase="'2'" class="label label-primary">{{
                userModel.rStatus
              }}</label>
              <label *ngSwitchCase="'3'" class="label label-danger">{{
                userModel.rStatus
              }}</label>
              <label *ngSwitchCase="'4'" class="label label-danger">{{
                userModel.rStatus
              }}</label>
            </div>
          </div>
        </div>
        <ng-container>
          <h3>Ticket Description</h3>
        </ng-container>
        <ng-container *ngIf="userModel">
          {{ userModel.description }}
        </ng-container>
      </div>
      <div class="ticket-panel-right">
        <mat-card *ngIf="userModel.comments">
          <mat-card-header>
            <mat-card-title>Comments</mat-card-title>
          </mat-card-header>
          <ng-container *ngFor="let comment of userModel.comments">
            <app-ticket-comments [comment]="comment"></app-ticket-comments>
          </ng-container>
        </mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="userModel">
      <ng-container *ngIf="userModel.status == 1 || userModel.status == 2">
        <button mat-raised-button color="primary" (click)="updateTicket(3)">
          Close Ticket
        </button>
      </ng-container>
      <ng-container *ngIf="userModel.status == 1 || userModel.status == 2">
        <button (click)="addCommentModal()" mat-raised-button>
          Add Comment
        </button>
      </ng-container>
      <ng-container *ngIf="userModel.status == 3">
        <button mat-raised-button color="primary" (click)="updateTicket(4)">
          Archive Ticket
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
