<mat-card>
  <mat-card-header> Add Promotional Campaign </mat-card-header>
  <mat-card-subtitle>
    <span style="background-color: lightsalmon">
      *Please ensure Promotional Users have been added previously.
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select
          placeholder="Select Operator"
          formControlName="operatorId"
          (selectionChange)="popBatch($event)"
        >
          <mat-option *ngFor="let item of operatorSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="select BatchID" formControlName="batchID">
          <mat-option *ngFor="let item of batchSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="campaignName" />
        <mat-placeholder>campaign Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="advertName" required />
        <mat-placeholder>Advert Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="maxDaily" type="number" required />
        <mat-placeholder>Max Daily</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="maxWeekly" type="number" required />
        <mat-placeholder>Max weekly</mat-placeholder>
      </mat-form-field>
      <div class="form-group">
        <div>
          <button
            mat-raised-button
            color="primary"
            class="add-files-btn"
            (click)="addFiles()"
          >
            Upload Media File
          </button>
        </div>
        <div class="col-lg-6">
          <input
            type="file"
            #file
            style="display: none"
            (change)="onFilesAdded()"
          />
        </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!form.valid">
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
