<mat-card>
  <mat-card-header>
    Permission Assignment
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="pageForm" [formGroup]="pageForm" (ngSubmit)="onSubmit()">
      <ng-container
        *ngFor="
          let userFormGroup of pageForm.controls.pages['controls'];
          let i = index
        "
      >
        <div [formGroup]="userFormGroup">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <input matInput formControlName="pageName" />
                  <input matInput formControlName="visible" />
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                *ngFor="
                  let elementFormGroup of userFormGroup.controls.elements[
                    'controls'
                  ];
                  let j = index
                "
              >
                <div [formGroup]="elementFormGroup">
                  <mat-form-field appearance="legacy">
                    <input matInput formControlName="name" />
                    <mat-placeholder>Element Name</mat-placeholder>
                  </mat-form-field>
                  <mat-form-field
                    floatLabel="always"
                    appearance="none"
                    class="selection-toggle"
                  >
                    <mat-slide-toggle formControlName="visible" [checked]="true"
                      ><b>Visible: </b>
                    </mat-slide-toggle>
                    <textarea matInput hidden></textarea>
                  </mat-form-field>
                  <mat-form-field
                    floatLabel="always"
                    appearance="none"
                    class="selection-toggle"
                  >
                    <mat-slide-toggle formControlName="enabled" [checked]="true"
                      ><b>Enabled</b>
                    </mat-slide-toggle>
                    <textarea matInput hidden></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="route" />
                    <mat-placeholder>Route</mat-placeholder>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="type" />
                    <mat-placeholder>Type</mat-placeholder>
                  </mat-form-field>
                  <mat-form-field style="width: 33em;">
                    <input matInput formControlName="description" />
                    <mat-placeholder>Description</mat-placeholder>
                  </mat-form-field>
                  <!-- <label>
                    <button (click)="removeElement(i)">remove element</button>
                  </label> -->
                </div>
              </ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
