<form [formGroup]="formControl">
  <mat-form-field *ngIf="sharedModel.email" class="sharedEmail">
    <input matInput formControlName="email" />
    <mat-placeholder>Search Email</mat-placeholder>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.fullName" class="sharedFullName">
    <input matInput formControlName="fullName" />
    <mat-placeholder>Search by {{ fullName }}</mat-placeholder>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.salesExec" class="sharedSalesExec">
    <input matInput formControlName="salesExec" />
    <mat-placeholder>Search by {{ salesExec }}</mat-placeholder>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.name">
    <input matInput formControlName="name" />
    <mat-placeholder>Search by {{ miscName }}</mat-placeholder>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.operator">
    <mat-select placeholder="Search By Operator" formControlName="operator">
      <mat-option *ngFor="let item of operatorSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.operator.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.operator.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.country">
    <mat-select placeholder="Search By Country" formControlName="country">
      <mat-option *ngFor="let item of countrySelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.country.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.country.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.typeName" class="typeName">
    <mat-select placeholder="Search By {{typeName}}" formControlName="typeName">
      <mat-option *ngFor="let item of typeSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.typeName.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.typeName.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.client">
    <mat-select placeholder="Search By Client" formControlName="client">
      <mat-option *ngFor="let item of clientSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.client.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.client.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.payment">
    <mat-select placeholder="Search Payment Type" formControlName="payment">
      <mat-option *ngFor="let item of paymentSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.payment.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.payment.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="sharedModel.status">
    <mat-select placeholder="Status" formControlName="status">
      <mat-option *ngFor="let item of statusSelect" [value]="item.value">
        {{ item.text }}
      </mat-option>
    </mat-select>
    <button
      *ngIf="formControl.controls.status.value"
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="
        formControl.controls.status.setValue(null); $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="sharedNumberRange" *ngIf="sharedModel.numberRange">
    <mat-form-field>
      <input matInput type="number" formControlName="numberFrom" />
      <mat-placeholder>{{ numberName }} From:</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="numberTo" />
      <mat-placeholder>{{ numberName }} To:</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="sharedNumberRange2" *ngIf="sharedModel.numberRange2">
    <mat-form-field>
      <input matInput type="number" formControlName="numberFrom2" />
      <mat-placeholder>{{ numberName2 }} From:</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="numberTo2" />
      <mat-placeholder>{{ numberName2 }} To:</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="sharedNumberRange3" *ngIf="sharedModel.numberRange3">
    <mat-form-field>
      <input matInput type="number" formControlName="numberFrom3" />
      <mat-placeholder>{{ numberName3 }} From:</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="numberTo3" />
      <mat-placeholder>{{ numberName3 }} To:</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="sharedCreated" *ngIf="sharedModel.dateRange">
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="dateFrom"
        formControlName="dateFrom"
      />
      <mat-placeholder>{{ createdDateName }} From</mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="dateTo"
        formControlName="dateTo"
      />
      <mat-placeholder>{{ createdDateName }} To</mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="sharedResponse" *ngIf="sharedModel.responseRange">
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="responseFrom"
        formControlName="responseFrom"
      />
      <mat-placeholder>{{ responseName }} From</mat-placeholder>
      <mat-datepicker-toggle
        matSuffix
        [for]="responseFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #responseFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="responseTo"
        formControlName="responseTo"
      />
      <mat-placeholder>{{ responseName }} To</mat-placeholder>
      <mat-datepicker-toggle
        matSuffix
        [for]="responseTo"
      ></mat-datepicker-toggle>
      <mat-datepicker #responseTo></mat-datepicker>
    </mat-form-field>
  </div>
</form>
