@import "../../../../assets/css/standard-form.css";


.selection-select {
  width: 300px;
  margin-right: 20px;
}

.selection-toggle {
  max-width: 120px;
  margin-right: 5px;
  margin-left: 5px;
}


.button-placement {
  position: absolute;
  bottom: 0;
  /* top: 73em; */
}

.password-placement {
  margin-bottom: 0.4em;
}


.error {
  color: red;
}
