<mat-card>
  <mat-card-header> Update Password </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput type="password" formControlName="oldPassword" />
        <mat-placeholder>Current Password</mat-placeholder>
        <mat-hint align="end">Please enter your current password ^</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" required />
        <mat-placeholder>New Password</mat-placeholder>
        <div
          *ngIf="
            password.errors &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
          [ngClass]="'error'"
        >
          <div *ngIf="password.errors.required">Password required.</div>
          <div *ngIf="password.errors.pattern">
            Password must be at least 8 characters and contain an uppercase, a
            lowercase, a number and a special character.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            form.hasError('notSame') &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
