<h1 mat-dialog-title>Add Comment</h1>
<div *ngIf="errorVisible" class="fail-message-text">
  {{ resultMessage }}
</div>
<div *ngIf="succesVisible" class="success-message-text">
  {{ resultMessage }}
</div>
<div mat-dialog-content>
  <div class="form-group" style="margin-bottom: 110px">
    <label class="control-label"
      >* <label class="lbldanger"><h2>Your Comment</h2></label></label
    >
    <div class="form-group">
      <textarea
        rows="4"
        cols="50"
        matInput
        maxlength="200"
        [(ngModel)]="data.description"
        style="background-color: lightgrey; padding: 1px"
        placeholder="Add Comment Here"
        required
      ></textarea>
    </div>
  </div>
  <div class="form-group" style="float: right">
    <div>
      <button
        mat-raised-button
        color="primary"
        class="add-files-btn"
        (click)="addFiles()"
      >
        Upload Image
      </button>
    </div>
    <div class="col-lg-6">
      <input
        type="file"
        #file
        style="display: none"
        (change)="onFilesAdded()"
      />
    </div>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let file of files">
      <h4 mat-line>{{ file.name }}</h4>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog(data)">
    Submit
  </button>
  <button mat-button mat-dialog-close>{{ cancelClose }}</button>
</div>
