<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">ad+</h1>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <ng-container *ngIf="success">
          <h5>Your new account request has been submitted.</h5>

          <div class="clr10"></div>

          <p>
            You will shortly be contacted by a member of the adtones team to
            discuss your requirements.
          </p>

          <div class="clr20"></div>
        </ng-container>
        <ng-container *ngIf="failed">
          <h5>We are unable to verify your email address.</h5>
          <div class="clr10"></div>
          <p>Please contact adtones team regarding email Verification.</p>
          <div class="clr20"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
