@import "../../../../assets/css/dashboard-tables.css";

.mat-card {
  width: 80%;
  margin-left: 10%;
  padding: 3% 13%;
}

.mat-column-operatorName {
  flex: 0 0 55% !important;
  width: 55% !important;
}

.mat-column-days {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-isActive {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-createdDate {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-action {
  flex: 0 0 11% !important;
  width: 11% !important;
}
