<mat-card>
  <mat-card-header> Campaign Details</mat-card-header>
  <mat-card-content>
    <form [formGroup]="frmStepOne">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="campaignName" required />
        <mat-placeholder>Campaign Name</mat-placeholder>
        <mat-error *ngIf="frmStepOne.get('campaignName').invalid && (frmStepOne.get('campaignName').dirty || frmStepOne.get('campaignName').touched)">
          Campaign name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="campaignDescription" />
        <mat-placeholder>Campaign Description</mat-placeholder>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-select
          placeholder="Campaign To Copy"
          formControlName="campaignId"
        >
          <mat-option
            *ngFor="let item of campaignSelect"
            [value]="item.value"
          >
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field>
        <mat-select
          placeholder="Country"
          formControlName="countryId"
          (selectionChange)="getCampaignCategory($event.value)"
        >
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="frmStepOne.get('countryId').invalid && (frmStepOne.get('countryId').dirty || frmStepOne.get('countryId').touched)">
          Country is required
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="campaignCategoryVisible">
        <mat-select
          placeholder="Campaign Category"
          formControlName="campaignCategoryId"
        >
          <mat-option *ngFor="let item of categorySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Start Date (optional)"
          formControlName="startDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="End Date (optional)"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <ng-container *ngIf="!editCampaign">
        <div class="checkbox-container">
          <mat-checkbox labelPosition="after" (change)="OnChange($event)">
            Is For a Client
          </mat-checkbox>
        </div>
      </ng-container>
      <!-- <mat-form-field class="selection-toggle">
        <mat-slide-toggle formControlName="isClient" [checked]="false"
          ><b>Is For Client</b>
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field> -->

      <mat-card-actions class="button-placement">
        <ng-container *ngIf="!editCampaign">
          <button type="button" mat-button matStepperNext (click)="form1()" [disabled]="frmStepOne.invalid || frmOneSubmitting">
            Next
          </button>
        </ng-container>
        <ng-container *ngIf="editCampaign">
          <button
            type="button"
            mat-raised-button color="primary"
            (click)="form1()"
            [disabled]="frmStepOne.invalid || frmOneSubmitting"
          >
            Update
          </button>
        </ng-container>
      </mat-card-actions>
      <!-- <p>{{frmStepOne.get('campaignCategoryId').value | json}}</p> -->
    </form>
    <ng-container *ngIf="campSuccess">
      <p class="success-message-text">
        The Campaign details were updated successfully
      </p>
    </ng-container>
    <ng-container *ngIf="campFail">
      <p class="fail-message-text">
        The Campaign details failed to update correctly
      </p>
    </ng-container>
  </mat-card-content>
</mat-card>
