<mat-card>
  <mat-card-header> Company Information </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="success-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="companyName" />
        <mat-placeholder>Company Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.addressVisible">
        <input
          name="address"
          id="address"
          matInput
          formControlName="address"
          required
        />
        <mat-placeholder>Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.additionalAddressVisible">
        <input matInput formControlName="additionalAddress" required />
        <mat-placeholder>Additional Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.townVisible">
        <input matInput formControlName="town" />
        <mat-placeholder>Town/City/Locality</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.postCodeVisible">
        <input matInput formControlName="postCode" />
        <mat-placeholder>Postcode/Zip Code</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.countryVisible">
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
