<mat-menu #matMenuComp #childMenu="matMenu" [overlapTrigger]="false"  [hasBackdrop]="false">
  <span (mouseenter)="mouseenter2.emit()" (mouseleave)="mouseleave2.emit();">
      <span *ngFor="let child of items">
        <!-- Handle branch node menu items -->
          <span *ngIf="child.elements && child.elements.length > 0">
              <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" [disabled]="child.disabled">
                  <span>{{child.name}}</span>
              </button>
              <app-menu-item #menu [items]="child.elements"></app-menu-item>
          </span>
          <!-- Handle leaf node menu items -->
          <span *ngIf="!child.elements || child.elements.length === 0">
              <button mat-menu-item [routerLink]="child.route" [disabled]="child.disabled" *ngIf="child.visible">
                    <span>{{child.name}}</span>
              </button>
          </span>
      </span>
  </span>
</mat-menu>
