.mat-card{
  margin: 30px 65px;
  padding: 40px 25px;
}

table{
width: 100%;
}


.mat-row:nth-child(odd){
background-color:#f5f5f5;
}

td.mat-cell {
  /* row padding */
  padding: 0 2px;
  /* row border */
  border-right: 1px solid lightgray;
  text-align: center;
 }


 ::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}



 .table > thead > tr > th .label, .table > tbody > tr > th .label, .table > tfoot > tr > th .label,
 .table > thead > tr > td .label, .table > tbody > tr > td .label,
 .table > tfoot > tr > td .label {
 margin-left: 5px;
 margin-right: 5px;
 padding-left: 10px;
 padding-right: 10px;
}

.label {
 background-color: #d1dade;
 color: #5e5e5e;
 font-family: "Open Sans";
 font-size: 10px;
 font-weight: 600;
 padding: 3px 8px;
 text-shadow: none;
}


.label-primary, .badge-primary {
 background-color: #1e90ff;
 color: #ffffff;
}

.label-danger, .badge-danger {
 background-color: #ed5565;
 color: #ffffff;
}

.btn-blue:hover {
 color: #ffffff !important;
}

.btn.focus, .btn:focus, .btn:hover {
 color: #333;
 text-decoration: none;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
 background-color: #1e90ff;
 border-color: #1e90ff;
}

.btn-group-xs > .btn, .btn-xs {
 padding: 1px 5px;
 font-size: 12px;
 line-height: 1.5;
 border-radius: 3px;
}


.export-buttons{
    float:right;
    clear: left;
    margin: 0 15px 10px 0;
}

