.mat-card {
  margin: 2% 25% 2% 15%;
  padding: 3% 25% 3% 7%;
}

mat-card-header {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}

mat-form-field {
  width: 220px;
  margin-right: 5em;
}

mat-card-actions {
  margin: 1em 0 0 2em;
}
