<div
  class="basic-container"
  style="
    font-family: webnarregular;
    font-size: 11;
    background-color: #2f4050;
    color: #ffffff;
    overflow: hidden;
  "
>
  <!-- <button mat-button class="single-top-menu" [routerLink]="loginStr">
    Login
  </button> -->
  <button
    mat-button
    class="single-top-menu"
    [routerLink]="[profileStr, userId]"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-button class="single-top-menu" [routerLink]="logoutStr">
    Logout<mat-icon>login</mat-icon>
  </button>
</div>
