<mat-card>
  <mat-card-header> System Config Details </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="systemConfigKey" />
        <mat-placeholder>System Config Key</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="systemConfigValue" />
        <mat-placeholder>System Config Value</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Config Type"
          formControlName="systemConfigType"
        >
          <mat-option *ngFor="let item of configSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || !submitEnabled"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
