.mat-card {
  margin: 2% 25% 2% 15%;
  padding: 3% 20% 3% 5%;
}



mat-card-header{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}



form {
  width:20%;
}


mat-card-actions{
  margin-left: 2em;
}
