
:host ::ng-deep
.mat-card {
  margin: 2% 25% 2% 15%;
  padding: 3% 20% 3% 5%;
}


:host ::ng-deep
mat-card-header{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}


:host ::ng-deep
form {
  width:20%;
}

:host ::ng-deep
mat-card-actions{
  margin-left: 2em;
}
