<div class="wrapper wrapper-content animated fadeInRight">
  <app-user-info [userId]="usersId" [pagename]="userForm"></app-user-info>
  <app-update-password [userId]="usersId"></app-update-password>
  <app-contact-info
    [userId]="usersId"
    [pagename]="contactForm"
  ></app-contact-info>
  <app-company-info
    *ngIf="companyVisible"
    [pagename]="companyForm"
    [userId]="usersId"
  ></app-company-info>
</div>
