<div class="row d-inline-flex export-buttons">
  <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
  <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
</div>

<table
mat-table
matTableExporter
#exporter="matTableExporter"
[dataSource]="dataSource"
class="mat-elevation-z8"
matSort (matSortChange)="customSort($event)">
<ng-container matColumnDef="email">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Email.
  </th>
  <td mat-cell *matCellDef="let element">
    <a
      style="color: blue;"
      [routerLink]="['/userdetails/', element.userId]"
      >{{ element.email }}</a
    >
  </td>
</ng-container>
<ng-container matColumnDef="userName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Name.
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.userName }}
  </td>
</ng-container>
<ng-container matColumnDef="organisation">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Advertiser.
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.organisation }}
  </td>
</ng-container>
<ng-container matColumnDef="mobileNumber">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Mobile Number.
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.mobileNumber }}
  </td>
</ng-container>
<ng-container matColumnDef="clientName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Client.
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.clientName }}
  </td>
</ng-container>
<ng-container matColumnDef="campaignName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Campaign
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.campaignName }}
  </td>
</ng-container>
<ng-container matColumnDef="advertName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Advert
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.advertName }}
  </td>
</ng-container>
<ng-container matColumnDef="finaltotalplays">
  <th mat-header-cell *matHeaderCellDef>
    Plays
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.finaltotalplays }}
  </td>
</ng-container>
<ng-container matColumnDef="totalBudget">
  <th mat-header-cell *matHeaderCellDef  mat-sort-header>
    Budget
  </th>
  <td mat-cell *matCellDef="let element">
    {{element.totalBudget}}
  </td>
</ng-container>
<ng-container matColumnDef="totalSpend">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Total Spend
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.totalSpend }}
  </td>
</ng-container>
<ng-container matColumnDef="fundsAvailable">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Funds Available
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.fundsAvailable }}
  </td>
</ng-container>

<ng-container matColumnDef="avgBidValue">
  <th mat-header-cell *matHeaderCellDef  mat-sort-header>
    Avg. Bid
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.avgBidValue }}
  </td>
</ng-container>
<ng-container matColumnDef="operatorName">
  <th mat-header-cell *matHeaderCellDef>
    Operator
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.operatorName }}
  </td>
</ng-container>
<ng-container matColumnDef="createdDate">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <span translate>Created Date</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.createdDate | date: "d/M/yyyy" }}
  </td>
</ng-container>
<ng-container matColumnDef="rStatus">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Status
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.rStatus }}
  </td>
</ng-container>
<ng-container matColumnDef="ticketCount">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <span translate>Ticket Count</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.ticketCount }}
  </td>
</ng-container>
<ng-container matColumnDef="maxDaily">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <span translate>Max Daily</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.maxDaily }}
  </td>
</ng-container>
<ng-container matColumnDef="maxWeekly">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <span translate>Max Weekly</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.maxWeekly }}
  </td>
</ng-container>
<ng-container matColumnDef="batchID">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <span translate>Batch ID</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.batchID }}
  </td>
</ng-container>
<ng-container matColumnDef="creditPeriod">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Credit Period
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.creditPeriod }}
  </td>
</ng-container>
<ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    Action
  </th>
  <td mat-cell *matCellDef="let element">
    Update
  </td>
</ng-container>
<ng-container matColumnDef="advertLocation">
  <th mat-header-cell *matHeaderCellDef>
    Media File
  </th>
  <td mat-cell *matCellDef="let element">
    <audio class="audio-small" controls="controls" id="+@result.Name+"
    src="../../../../../assets/Over the Horizon.mp3"></audio>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
