<div class="wrapper wrapper-content animated fadeIn">
  <app-campaign-dashboard
    [advertiserId]="advertiserId"
    [advertiserName]="advertiserName"
  >
  </app-campaign-dashboard>
  <app-advertiser-campaign-table [advertiserId]="advertiserId"> </app-advertiser-campaign-table>
</div>
