<mat-card>
  <mat-card-header> Budget Details</mat-card-header>
  <mat-card-content>
    <div
      class="message-holder"
      *ngIf="
    (hasCampaignError ||
      (campaignErrorMessage != null && campaignErrorMessage.length > 0))
  "
    >
      <h4>
        <span style="background-color: rgb(250, 204, 186); width: 30em"
          >{{ campaignErrorMessage }}</span
        >
      </h4>
    </div>
    <form [formGroup]="frmStepFour">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="maxMonthBudget" />
        <mat-placeholder>Monthly Budget</mat-placeholder>
        <mat-error *ngIf="frmStepFour.get('maxMonthBudget').invalid && frmStepFour.get('maxMonthBudget').touched">
          Please enter a valid monthly budget.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="maxWeeklyBudget" required />
        <mat-placeholder>Weekly Budget</mat-placeholder>
        <mat-error *ngIf="frmStepFour.get('maxWeeklyBudget').invalid && frmStepFour.get('maxWeeklyBudget').touched">
          Please enter a valid weekly budget.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="maxDailyBudget" required />
        <mat-placeholder>Daily Budget</mat-placeholder>
        <mat-error *ngIf="frmStepFour.get('maxDailyBudget').invalid && frmStepFour.get('maxDailyBudget').touched">
          Please enter a valid daily budget.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="maxHourlyBudget" required />
        <mat-placeholder>Hourly Budget</mat-placeholder>
        <mat-error *ngIf="frmStepFour.get('maxHourlyBudget').invalid && frmStepFour.get('maxHourlyBudget').touched">
          Please enter a valid hourly budget.
        </mat-error>
      </mat-form-field>
      <div
        *ngIf="frmStepFour.get('maxBid').errors?.min"
        style="color: lightsalmon"
      >
        The minimum bid is {{ minBid | number : '1.2-2' }}.
      </div>
      <div style="width: 100%">
        <label>(minimum bid is {{ minBid | number : '1.2-2' }})</label>
      </div>
      <mat-form-field>
        <input
          matInput
          formControlName="maxBid"
          type="number"
          step=".01"
          appTwoDigitDecimalNumber
        />
        <mat-placeholder>Bid Value</mat-placeholder>
        <mat-error *ngIf="frmStepFour.get('maxBid').invalid && frmStepFour.get('maxBid').touched">
          Please enter a valid bid value (minimum: {{ minBid | number : '1.2-2' }}).
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currencyId">
          <mat-option *ngFor="let item of currencySelect$ | async" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="frmStepFour.get('currencyId').invalid && frmStepFour.get('currencyId').touched">
          Please select a currency.
        </mat-error>
        </mat-form-field>

        <mat-card-actions class="button-placement">
          <ng-container *ngIf="!editCampaign">
            <button type="button" matStepperPrevious (click)="clearError()">
              Back
            </button>
            <button type="button" mat-button matStepperNext (click)="form4()">
              Next
            </button>
          </ng-container>
          <ng-container *ngIf="editCampaign">
            <button
              type="button"
              [disabled]="!frmStepFour.valid || accountUpdate || frmFourSubmitting"
              mat-raised-button color="primary"
              (click)="form4()"
            >
              Update
            </button>
          </ng-container>
        </mat-card-actions>
        </form>
        <ng-container *ngIf="budgetSuccess">
          <p class="success-message-text">
            Budget details were updated successfully
          </p>
        </ng-container>
        <ng-container *ngIf="budgetFail">
          <p class="fail-message-text">
            The Budget details failed to update correctly
          </p>
        </ng-container>
        </mat-card-content>
        </mat-card>
