@import "../../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 1%;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

.mat-column-email {
  width: 275px !important;
}

.mat-column-mobileNumber {
  width: 155px !important;
  white-space: normal;
}

.mat-column-fullName {
  width: 255px !important;
}

.mat-column-role {
  width: 100px !important;
}

.mat-column-dateCreated {
  width: 105px !important;
}

.mat-column-status {
  width: 103px !important;
}

.mat-column-action {
  width: 103px !important;
}

.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}
