<div class="wrapper wrapper-content animated fadeInRight">
  <div class="spiner-example" style="display:none;">
      <div class="sk-spinner sk-spinner-three-bounce">
          <div class="sk-bounce1"></div>
          <div class="sk-bounce2"></div>
          <div class="sk-bounce3"></div>
      </div>
  </div>
  <app-user-info [userId]="usersId" [pagename]="userForm"></app-user-info>
  <app-contact-info [userId]="usersId" [pagename]="contactForm"></app-contact-info>
  <app-company-info [pagename]="companyForm" [userId]="usersId"></app-company-info>
  <app-user-permission [userId]="usersId"></app-user-permission>
</div>

