<mat-card>
  <mat-card-header> Add New Advertiser</mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput type="email" formControlName="email" required />
        <mat-placeholder>Email Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input
          name="firstName"
          id="firstName"
          matInput
          formControlName="firstName"
          required
        />
        <mat-placeholder>First Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName" required />
        <mat-placeholder>Last Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="organisation" />
        <mat-placeholder>Organisation/Company</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Organisation Type"
          formControlName="organisationTypeId"
        >
          <mat-option
            *ngFor="let item of organisationSelect"
            [value]="item.value"
          >
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="phoneNumber" />
        <mat-placeholder>Contact Number</mat-placeholder>
      </mat-form-field>
      <mat-form-field class="selection-toggle">
        <mat-slide-toggle formControlName="mailSuppression" [checked]="false"
          ><b>No Emails Sent To Advertiser</b> true will prevent
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" required />
        <mat-placeholder>Password</mat-placeholder>
        <div
          *ngIf="
            password.errors &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
          [ngClass]="'error'"
        >
          <div *ngIf="password.errors.required">Password required.</div>
          <div *ngIf="password.errors.pattern">
            Password must be at least 8 characters and contain an uppercase, a
            lowercase, a number and a special character.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field class="password-placement">
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            form.hasError('notSame') &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <p>
        Password must be at least 8 characters and contain an uppercase, a
        lowercase, a number and a special character.
      </p>
      <mat-card-actions class="button-placement">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          *ngIf="!isSubmitted"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>

    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
  </mat-card-content>
</mat-card>
