<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>Ad Types </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="adTypeModel">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="isFewSelected()"
      (change)="setAll($event.checked)"
    >
      Select All</mat-checkbox
    ><br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Food</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.foodQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Sweets/Snacks</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.sweetSaltySnacksQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Alcoholic Drinks</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.alcoholicDrinksQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Non-Alcoholic Drinks</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.nonAlcoholicDrinksQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Household Appliances/Products</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.householdproductsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Toiletries/Cosmetics</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.toiletriesCosmeticsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Pharmaceutical/Chemist Products</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.pharmaceuticalChemistsProductsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Tobacco Products</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.tobaccoProductsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Pets</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.petsPetFoodQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Clothing/Fashion</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.shoppingRetailClothingQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>DIY/Gardening</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.diyGardeningQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Electronics/Other Personal Items</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.electronicsOtherPersonalItemsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Communications/Internet/Telecom</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.communicationsInternetQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Financial Services</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.financialServicesQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Holidays/Travel/Tourism</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.holidaysTravelQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Sports/Lesiure</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.sportsLeisureQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Motoring/Automotive</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.motoringQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Newspapers/Magazines</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.newspapersQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>TV/Video/Radio</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.tvQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Cinema</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.cinemaQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Social Networking</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.socialNetworkingQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Shopping(retail gen merc)</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.shoppingQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Fitness</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.fitnessQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Environment</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.environmentQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>


<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Going Out/Entertainment</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.goingOutQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Religion</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.religionQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Music</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.musicQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Business Opportunities</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.businessOrOpportunitiesQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Over 18/Gambling</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.gamblingQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Restaurants</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.restaurantsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Insurance</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.insuranceQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Furniture</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.furnitureQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Information Technology</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.informationTechnologyQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Energy</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.energyQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Supermarkets</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.supermarketsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Healthcare</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.healthcareQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>


<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Jobs & Education</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.jobsAndEducationQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Gifts</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.giftsQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Advocacy/Legal</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.advocacyOrLegalQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>

<br />
    <div class="row">
    <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Dating/Personal</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.datingAndPersonalQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Real Estate/Property</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.realEstateQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="col-lg-4">
    <span class="headerVisible"
      ><mat-label><b>Games</b></mat-label>
    </span>

    <mat-list *ngFor="let x of adTypeModel.gamesQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </div>
</div>
  </ng-container>
</mat-expansion-panel>

