<mat-card>
  <mat-card-header> Operator Config Details </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select placeholder="Operator" formControlName="operatorId">
          <mat-option *ngFor="let item of operatorSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="days" />
        <mat-placeholder>Key Value</mat-placeholder>
      </mat-form-field>
      <mat-radio-group formControlName="isActive">
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Not Active</mat-radio-button>
      </mat-radio-group>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || !submitEnabled"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
