<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>Geographic </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="geographicModel">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="isFewSelected()"
      (change)="setAll($event.checked)"
    >
      Select All</mat-checkbox
    ><br />
    <span class="headerVisible"
      ><mat-label><b>Location</b></mat-label>
    </span>

    <mat-list *ngFor="let x of geographicModel.locationQuestion">
      <mat-checkbox
        [(ngModel)]="x.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.questionName }}
      </mat-checkbox>
    </mat-list>
  </ng-container>
</mat-expansion-panel>
