<mat-card>
  <mat-card-header><h2>Enter Email Address</h2></mat-card-header>
  <ng-template *ngIf="mailInvalid">
    <mat-card-subtitle
      ><div>{{ errorMessage }}</div></mat-card-subtitle
    >
  </ng-template>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          required
          type="email"
        />
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Send</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="loginStr">
      Return To Login
    </button>
  </mat-card-actions>
</mat-card>
