<mat-card>
  <mat-card-header> Add User</mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput type="email" formControlName="email" required />
        <mat-placeholder>Email Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.firstNameVisible">
        <input
          name="firstName"
          id="firstName"
          matInput
          formControlName="firstName"
          required
        />
        <mat-placeholder>First Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.lastNameVisible">
        <input matInput formControlName="lastName" required />
        <mat-placeholder>Last Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.organisationVisible">
        <input matInput formControlName="organisation" />
        <mat-placeholder>Organisation/Company</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.countryVisible">
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="this.operatorIdVisible">
        <mat-select placeholder="Operator" formControlName="operatorId">
          <mat-option *ngFor="let item of operatorSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="this.outstandingdaysVisible">
        <input type="number" matInput formControlName="outstandingdays" />
        <mat-placeholder>Outstanding Duedate Days</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.roleIdVisible">
        <mat-select placeholder="Role" formControlName="roleId">
          <mat-option *ngFor="let item of roleSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="this.mobileNumberVisible">
        <input matInput formControlName="mobileNumber" required />
        <mat-placeholder>Mobile Number</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.phoneNumberVisible">
        <input matInput formControlName="phoneNumber" />
        <mat-placeholder>Phone Number</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.fixedLineVisible">
        <input matInput formControlName="fixedLine" />
        <mat-placeholder>Fixed Line</mat-placeholder>
      </mat-form-field>
      <mat-form-field *ngIf="this.addressVisible">
        <input matInput formControlName="address" />
        <mat-placeholder>Address</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" required />
        <mat-placeholder>Password</mat-placeholder>
        <div
          *ngIf="
            password.errors &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
          [ngClass]="'error'"
        >
          <div *ngIf="password.errors.required">Password required.</div>
          <div *ngIf="password.errors.pattern">
            Password must be at least 8 characters and contain an uppercase, a
            lowercase, a number and a special character.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field class="password-placement">
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            form.hasError('notSame') &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="button-placement">
        <button mat-raised-button color="primary" [disabled]="disableSubmit">
          Submit
        </button>
      </mat-card-actions>
    </form>
    <ng-container class="perm-placement">
      <p>
        Select a user with permissions the most like the ones that you wish new
        user to have
      </p>
      <mat-select
        placeholder="User Permissions"
        (selectionChange)="getUserPermission($event)"
      >
        <mat-option *ngFor="let item of permissionsSelect" [value]="item.value">
          {{ item.text }}
        </mat-option>
      </mat-select>
    </ng-container>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
  </mat-card-content>
</mat-card>
