@import "../../../../assets/css/standard-form.css";

.perm-placement {
  /* margin-top: 6em; */
  bottom: 1em;
}

.button-placement {
  position: absolute;
  bottom: 0;
  /* top: 73em; */
}

.password-placement {
  margin-bottom: 0.4em;
}


.error {
  color: red;
}
