<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Campaign Management</mat-card-title>
    </mat-card-header>
    <span style="margin-left: 82%" *ngIf="userData.roleId > 3">
      <a mat-raised-button [routerLink]="['/createcampaign/']">
        <mat-icon>library_add</mat-icon>Create Campaign Only for advertiser and
        sales</a
      ></span
    >
    <mat-card-content>
      <div class="table-search">
        <form [formGroup]="formControl">
          <div class="row">
            <mat-form-field *ngIf="sharedModel.email" class="sharedEmail col">
              <input matInput formControlName="email" />
              <mat-placeholder>Search Email</mat-placeholder>
            </mat-form-field>
            <mat-form-field
              *ngIf="sharedModel.fullName"
              class="sharedFullName col"
            >
              <input matInput formControlName="fullName" />
              <mat-placeholder>Search by Advertiser</mat-placeholder>
            </mat-form-field>
            <mat-form-field
              *ngIf="sharedModel.salesExec && salesId == 0"
              class="sharedSalesExec col"
            >
              <input matInput formControlName="salesExec" />
              <mat-placeholder>Search by Sales Exec.</mat-placeholder>
            </mat-form-field>
            <div class="col">
              <mat-form-field *ngIf="sharedModel.name">
                <input matInput formControlName="name" />
                <mat-placeholder>Search by Campaign</mat-placeholder>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field *ngIf="sharedModel.operator">
              <mat-select
                placeholder="Search By Operator"
                formControlName="operator"
              >
                <mat-option
                  *ngFor="let item of operatorSelect"
                  [value]="item.value"
                >
                  {{ item.text }}
                </mat-option>
              </mat-select>
              <button
                *ngIf="formControl.controls['operator'].value"
                matSuffix
                mat-icon-button
                type="button"
                aria-label="Clear"
                (click)="
                  formControl.controls['operator'].setValue(null);
                  $event.stopPropagation()
                "
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="sharedModel.country">
              <mat-select
                placeholder="Search By Country"
                formControlName="country"
              >
                <mat-option
                  *ngFor="let item of countrySelect"
                  [value]="item.value"
                >
                  {{ item.text }}
                </mat-option>
              </mat-select>
              <button
                *ngIf="formControl.controls['country'].value"
                matSuffix
                mat-icon-button
                type="button"
                aria-label="Clear"
                (click)="
                  formControl.controls['country'].setValue(null);
                  $event.stopPropagation()
                "
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="sharedModel.client">
              <mat-select
                placeholder="Search By Client"
                formControlName="client"
              >
                <mat-option
                  *ngFor="let item of clientSelect"
                  [value]="item.value"
                >
                  {{ item.text }}
                </mat-option>
              </mat-select>
              <button
                *ngIf="formControl.controls['client'].value"
                matSuffix
                mat-icon-button
                type="button"
                aria-label="Clear"
                (click)="
                  formControl.controls['client'].setValue(null);
                  $event.stopPropagation()
                "
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div class="col">
              <mat-form-field *ngIf="sharedModel.status">
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option
                    *ngFor="let item of statusSelect"
                    [value]="item.value"
                  >
                    {{ item.text }}
                  </mat-option>
                </mat-select>
                <button
                  *ngIf="formControl.controls['status'].value"
                  matSuffix
                  mat-icon-button
                  type="button"
                  aria-label="Clear"
                  (click)="
                    formControl.controls['status'].setValue(null);
                    $event.stopPropagation()
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="sharedNumberRange col" *ngIf="sharedModel.numberRange">
              <mat-form-field>
                <input matInput type="number" formControlName="numberFrom" />
                <mat-placeholder>Budget From:</mat-placeholder>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" formControlName="numberTo" />
                <mat-placeholder>Budget To:</mat-placeholder>
              </mat-form-field>
            </div>
            <div
              class="sharedNumberRange2 col"
              *ngIf="sharedModel.numberRange2"
            >
              <mat-form-field>
                <input matInput type="number" formControlName="numberFrom2" />
                <mat-placeholder>Spend From:</mat-placeholder>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" formControlName="numberTo2" />
                <mat-placeholder>Spend To:</mat-placeholder>
              </mat-form-field>
            </div>
          </div>
          <div class="sharedCreated col" *ngIf="sharedModel.dateRange">
            <mat-form-field>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="dateFrom"
                formControlName="dateFrom"
              />
              <mat-placeholder>Created From</mat-placeholder>
              <mat-datepicker-toggle
                matSuffix
                [for]="dateFrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="dateTo"
                formControlName="dateTo"
              />
              <mat-placeholder>Created To</mat-placeholder>
              <mat-datepicker-toggle
                matSuffix
                [for]="dateTo"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="row d-inline-flex export-buttons">
        <!-- <button mat-button (click)="exporter.exportTable('csv')">CSV</button> -->
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="['/userdetails/', element.userId]"
              >{{ element.email }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advertiser.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="organisation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advertiser.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.organisation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Mobile Number.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.mobileNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="campaignLink"
              style="color: blue"
              [routerLink]="[
                '/campaigntable/',
                element.campaignProfileId,
                'playlist'
              ]"
              >{{ element.campaignName }}</a
            >
            <span *ngIf="!campaignLink">{{ element.campaignName }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="advertName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advert</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="advertLink"
              style="color: blue"
              [routerLink]="['/adverttable/', '0', element.advertId]"
              >{{ element.advertName }}</a
            >
            <span *ngIf="!advertLink">{{ element.advertName }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="finaltotalplays">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Plays</th>
          <td mat-cell *matCellDef="let element">
            {{ element.finaltotalplays }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalBudget">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget</th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span
              >{{ element.totalBudget }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="reach">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reach</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reach }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalSpend">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Spend</th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span
              >{{ element.totalSpend }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="fundsAvailable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Funds Available
          </th>
          <td mat-cell *matCellDef="let element">
            <span style="white-space: nowrap"
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span
              >{{ element.fundsAvailable }}</span
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="avgBidValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg. Bid</th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.avgBidValue }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="operatorName">
          <th mat-header-cell *matHeaderCellDef>Operator</th>
          <td mat-cell *matCellDef="let element">
            {{ element.operatorName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">
            {{ element.categoryName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Created Date</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesExec == 'UnAllocated'; else salesBlock">
              {{ element.salesExec }}
            </div>
            <ng-template #salesBlock>
              <a
                style="color: blue"
                [routerLink]="[
                  '/salescampaign/',
                  element.sUserId,
                  element.salesExec,
                  'sales'
                ]"
                >{{ element.salesExec }}</a
              >
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <div *ngSwitchCase="'8'">
              <label class="label label-danger"
                >Paused Insufficient Funds</label
              >
            </div>
            <div *ngSwitchCase="'7'">
              <label class="label label-primary">InProgress</label>
            </div>
            <div *ngSwitchCase="'6'">
              <label class="label label-primary">Waiting Approval</label>
            </div>
            <div *ngSwitchDefault>
              <select
                class="form-control input-s-sm inline"
                [(ngModel)]="element.status"
                (change)="updateStatus(element.campaignProfileId, $event)"
              >
                <option value="1">Planned</option>
                <option value="2">Play</option>
                <option value="3">Pause</option>
                <option value="4">Stop</option>
                <option value="5">Archive</option>
              </select>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <div *ngSwitchCase="'8'">
              <label class="label label-danger"
                >Paused Insufficient Funds</label
              >
            </div>
            <div *ngSwitchCase="'7'">
              <label class="label label-primary">In Progress</label>
            </div>
            <div *ngSwitchCase="'6'">
              <label class="label label-primary">Waiting Approval</label>
            </div>
            <div *ngSwitchDefault>
              <label class="label label-primary">{{ element.rStatus }}</label>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="ticketCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Ticket Count</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.ticketCount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="maxDaily">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Max Daily</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.maxDaily }}
          </td>
        </ng-container>
        <ng-container matColumnDef="maxWeekly">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Max Weekly</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.maxWeekly }}
          </td>
        </ng-container>
        <ng-container
          *ngIf="userData.roleId != 9; else salesAction"
          matColumnDef="action"
        >
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="[
                '/updatecampaign/',
                element.userId,
                element.campaignProfileId
              ]"
              >{{ element.campaignName }}</a
            >
          </td>
        </ng-container>
        <ng-template #salesAction>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Update Campaign</th>
            <td mat-cell *matCellDef="let element">
              <label
                class="label label-default"
                (click)="
                  updateCampaign(element.userId, element.campaignProfileId)
                "
                >Edit Campaign</label
              >
              <label
                class="label label-primary"
                (click)="
                  fundCampaign(element.campaignProfileId, element.userId)
                "
                >Fund Campaign</label
              >
            </td>
          </ng-container>
        </ng-template>
        <ng-container matColumnDef="advertLocation">
          <th mat-header-cell *matHeaderCellDef>Media File</th>
          <td mat-cell *matCellDef="let element">
            <audio
              class="audio-small"
              controls="controls"
              id="+@result.Name+"
              src="../../../../../assets/Over the Horizon.mp3"
            ></audio>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
