@import "../../../../assets/css/dashboard-tables.css";

:host ::ng-deep .sharedNumberRange {
  margin-right: 15%;
}

:host ::ng-deep .sharedNumberRange2 {
  float: left;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

.mat-column-email {
  width: 185px !important;
}

.mat-column-userName {
  width: 195px !important;
}

.mat-column-mobileNumber {
  width: 140px !important;
}

.mat-column-campaignName {
  width: 235px;
}

.mat-column-clientName {
  width: 220px;
}

.mat-column-createdDate {
  width: 90px !important;
}

/* .mat-column-rStatus {
  flex: 0 0 5% !important;
  width: 5% !important;
} */

.mat-column-totalBudget {
  flex: 0 0 6.5% !important;
  width: 125px !important;
}

.mat-column-totalSpend {
  flex: 0 0 8% !important;
  width: 125px !important;
}

.mat-column-fundsAvailable {
  flex: 0 0 7% !important;
  width: 7% !important;
}

.mat-column-avgBidValue {
  flex: 0 0 5% !important;
  width: 85px !important;
}

:host ::ng-deep .sharedNumberRange {
  float: right;
}

.mat-column-status {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-ticketCount {
  flex: 0 0 5% !important;
  width: 5% !important;
}

/*
:host ::ng-deep .mat-column-userName {
  flex: 0 0 13% !important;
  width: 13% !important;
}

:host ::ng-deep .mat-column-clientName {
  flex: 0 0 13% !important;
  width: 13% !important;
}

:host ::ng-deep .mat-column-advertName {
  flex: 0 0 10% !important;
  width: 10% !important;
}


:host ::ng-deep .mat-column-campaignName {
  flex: 0 0 10% !important;
  width: 10% !important;
}

:host ::ng-deep .mat-column-finaltotalplays {
  flex: 0 0 5% !important;
  width: 5% !important;
}


:host ::ng-deep .mat-column-totalSpend {
  flex: 0 0 5% !important;
  width: 5% !important;
}

:host ::ng-deep .mat-column-fundsAvailable {
  flex: 0 0 5% !important;
  width: 5% !important;
}

:host ::ng-deep .mat-column-avgBidValue {
  flex: 0 0 5% !important;
  width: 5% !important;
}

 */
