<mat-card>
  <mat-card-header> SMS & Email Details (optional)</mat-card-header>
  <mat-card-content>
    <form [formGroup]="frmStepFive">
      <mat-form-field>
        <input matInput formControlName="smsOriginator" />
        <mat-placeholder>SMS Message Originator</mat-placeholder>
      </mat-form-field>
      <div *ngIf="smsOriginator.errors?.maxlength" style="color: red">
        smsOriginator can only be 500 characters long.
      </div>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          formControlName="smsMessage"
        ></textarea>
        <mat-placeholder>SMS Message</mat-placeholder>
      </mat-form-field>
      <div *ngIf="smsMessage.errors?.maxlength" style="color: red">
        The SMS Message can only be 160 characters long.
      </div>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="emailSubject" />
        <mat-placeholder>Email Subject</mat-placeholder>
      </mat-form-field>
      <div *ngIf="emailSubject.errors?.maxlength" style="color: red">
        The Email Subject can only be 1000 characters long.
      </div>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="15"
          formControlName="emailContent"
        ></textarea>
        <mat-placeholder>Email Content</mat-placeholder>
      </mat-form-field>
      <div *ngIf="emailContent.errors?.maxlength" style="color: red">
        The Email Content can only be 1000 characters long.
      </div>
      <mat-card-actions class="button-placement">
        <ng-container *ngIf="!editCampaign">
          <button type="button" matStepperPrevious>Back</button>
          <button type="button" mat-button matStepperNext (click)="form5()">
            Next
          </button>
        </ng-container>
        <ng-container *ngIf="editCampaign">
          <button
            type="button"
            mat-raised-button color="primary"
            (click)="form5()"
            [disabled]="!frmStepFive.valid || smsUpdate"
          >
            Update
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
    <ng-container *ngIf="smsSuccess">
      <p class="success-message-text">
        The SMS and/or Email details were updated successfully
      </p>
    </ng-container>
    <ng-container *ngIf="smsFail">
      <p class="fail-message-text">
        The SMS and/or Email details failed to update correctly
      </p>
    </ng-container>
  </mat-card-content>
</mat-card>
