<mat-card>
  <mat-card-header> Campaign Category Details </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="categoryName" />
        <mat-placeholder>Category Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="description" />
        <mat-placeholder>Description</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
