@import "../../../../assets/css/dashboard-tables.css";

table {
  width: 75%;
  margin: 0 auto;
}

.table-search {
  margin-left: 15%;
}

.export-buttons {
  margin-right: 20%;
}

.mat-paginator {
  margin-right: 13%;
}

.mat-column-profileName {
  flex: 0 0 27% !important;
  width: 27% !important;
}

.mat-column-profileType {
  flex: 0 0 25% !important;
  width: 25% !important;
}

.mat-column-countryName {
  flex: 0 0 25% !important;
  width: 25% !important;
}
