.dash-card-main {
  width: 90%;
  margin: 2% 5%;
  background-color: #f3f3f4;
}

h2 {
  font-size: 24px;
}

h5 {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
  padding: 10px 1px;
  text-overflow: ellipsis;
}

.small-card {
  padding: 25px;
  margin: 2% 1%;
  min-width: 225px;
  width: 23%;
  float: left;
}

.blanco {
  width: 29%;
  background-color: #f3f3f4;
  padding-right: 0;
}

.pie-chart {
  width: 50%;
  margin-right: 0;
  padding-right: 0;
  float: right;
}

.small {
  font-size: 13px;
}

.col-lg-3 {
  min-width: 25%;
}

h1 {
  font-size: 28px;
}
