<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Advert Management
        <ng-container *ngIf="salesExecName">
          For {{ salesExecName }}
        </ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [statusSelect]="statusSelect"
          [clientSelect]="clientSelect"
          [fullName]="fullName"
          [miscName]="miscName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="emailLink">
              <a
                style="color: blue"
                [routerLink]="['/userdetails/', element.userId]"
                >{{ element.email }}</a
              >
            </ng-container>
            <ng-container *ngIf="!emailLink">
              <span>{{ element.email }}</span>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advertiser.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesExec == 'UnAllocated'; else salesBlock">
              {{ element.salesExec }}
            </div>
            <ng-template #salesBlock>
              <a
                style="color: blue"
                [routerLink]="[
                  '/salesadverttable/',
                  element.sUserId,
                  element.salesExec
                ]"
                >{{ element.salesExec }}</a
              >
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="advertName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Advert</th>
          <td mat-cell *matCellDef="let element">
            {{ element.advertName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
          <td mat-cell *matCellDef="let element">
            {{ element.brand }}
          </td>
        </ng-container>
        <ng-container matColumnDef="smsBody">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SMS Body</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: rgb(24, 160, 24); cursor: pointer"
              *ngIf="element.smsBody != null"
              title="{{ element.smsBody }}"
              (click)="
                getscripts('SMSBody', element.advertName, element.smsBody)
              "
              >View</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="emailBody">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Body</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: rgb(24, 160, 24); cursor: pointer"
              *ngIf="element.emailBody != null"
              title="{{ element.emailBody }}"
              (click)="
                getscripts('EmailBody', element.advertName, element.emailBody)
              "
              >View</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="scripts">
          <th mat-header-cell *matHeaderCellDef>Scripts</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: green; cursor: pointer"
              *ngIf="element.script != null"
              title="{{ element.script }}"
              (click)="
                getscripts('Scripts', element.advertName, element.script)
              "
              >View</a
            >
            <a
              style="color: blue; cursor: pointer"
              href="{{ element.scriptFileLocation }}"
              download="{{ element.scriptsPath }}"
              target="_blank"
              *ngIf="element.script == null && element.scriptsPath != null"
              >Download</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="listen">
          <th mat-header-cell *matHeaderCellDef>Listen</th>
          <td mat-cell *matCellDef="let element">
            <audio
              class="audio-small"
              controls="controls"
              id="+@result.Name+"
              src="{{ element.mediaFile }}"
            ></audio>
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="element.status">
              <ng-container *ngSwitchCase="'1'">
                <label class="label label-primary">{{ element.rStatus }}</label>
              </ng-container>

              <ng-container *ngSwitchCase="'2'">
                <label class="label label-success">{{ element.rStatus }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'3'">
                <label class="label label-danger">{{ element.rStatus }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'4'">
                <label class="label label-default">{{ element.rStatus }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'8'">
                <label class="label label-danger">{{ element.rStatus }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'9'">
                <label class="label label-warning">{{ element.rStatus }}</label>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <label class="label label-danger">Rejected</label>
              </ng-container>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Created Date</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <ng-container *ngSwitchCase="'1'">
              <a
                class="btn btn-success btn-xs"
                (click)="updatestatus(element.advertId, 2, null)"
                >Suspend</a
              >
            </ng-container>
            <ng-container *ngSwitchCase="'3'">
              <a
                class="btn btn-blue btn-xs"
                (click)="updatestatus(element.advertId, 1, null)"
                >Live</a
              >
            </ng-container>
            <ng-container *ngSwitchCase="'4'">
              <a
                class="btn btn-blue btn-xs"
                (click)="updatestatus(element.advertId, 1, null)"
                >Live</a
              >
            </ng-container>
            <ng-container *ngSwitchCase="'4'">
              <a
                class="btn btn-danger btn-xs"
                (click)="
                  rejectAdvertModal(element.advertId, element.advertName)
                "
                >Reject</a
              >
            </ng-container>
            <ng-container *ngSwitchCase="'5'">
              <a
                class="btn btn-blue btn-xs"
                (click)="updatestatus(element.advertId, 1, null)"
                >Live</a
              >
            </ng-container>
            <ng-container *ngIf="currentUser != element.updatedBy">
              <ng-container *ngSwitchCase="'9'">
                <a
                  class="btn btn-blue btn-xs"
                  (click)="updatestatus(element.advertId, 1, null)"
                  >Live</a
                >
              </ng-container>
              <ng-container *ngSwitchCase="'9'">
                <a
                  class="btn btn-danger btn-xs"
                  (click)="
                    rejectAdvertModal(element.advertId, element.advertName)
                  "
                  >Reject</a
                >
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <div></div>
            </ng-container>
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="noRecord">
          <td mat-footer-cell *matFooterCellDef>No records found.</td>
        </ng-container>
        <ng-container [ngIf]="!modelSource || modelSource.length == 0">
          <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
