<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
      <mat-error *ngIf="mailInvalid">{{ errorMessage }}</mat-error>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          required
          type="email"
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" required />
        <mat-placeholder>New Password</mat-placeholder>
        <div
          *ngIf="
            password.errors &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
          [ngClass]="'error'"
        >
          <div *ngIf="password.errors.required">Password required.</div>
          <div *ngIf="password.errors.pattern">
            Password must be at least 8 characters and contain an uppercase, a
            lowercase, a number and a special character.
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            form.hasError('notSame') &&
            isValidFormSubmitted != null &&
            !isValidFormSubmitted
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Update</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
