<h1 mat-dialog-title>Reject Advert: {{ data.advertName }}</h1>
<div mat-dialog-content>
  <p>Rejection Reason</p>
  <mat-form-field>
    <mat-label>Reject Reason</mat-label>
    <input matInput [(ngModel)]="data.reason" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>
