<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Ticket Management
        <ng-container *ngIf="salesExecName">
          For {{ salesExecName }}
        </ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [statusSelect]="statusSelect"
          [clientSelect]="clientSelect"
          [paymentSelect]="paymentSelect"
          [typeSelect]="typeSelect"
          [miscName]="miscName"
          [typeName]="typeName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>
      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="emailLink"
              style="color: blue"
              [routerLink]="['/userdetails/', element.userId]"
              >{{ element.email }}</a
            >
            <span *ngIf="!emailLink">{{ element.email }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="organisation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Organisation.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.organisation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="noOfactivecampaign">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Active Campaigns
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.noOfactivecampaign }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket ID.</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="['/ticketdetails/', element.id]"
              >{{ element.qNumber }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesExec == 'UnAllocated'; else salesBlock">
              {{ element.salesExec }}
            </div>
            <ng-template #salesBlock>
              <a
                style="color: blue"
                [routerLink]="['/salestickettable/', element.sUserId, element.salesExec]"
                >{{ element.salesExec }}</a
              >
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
          <td mat-cell *matCellDef="let element">
            {{ element.campaignName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ticket Date/Time
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy hh:mm aa" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="questionTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Tile</th>
          <td mat-cell *matCellDef="let element">
            {{ element.questionTitle }}
          </td>
        </ng-container>
        <ng-container matColumnDef="questionSubject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ticket Subject
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.questionSubject }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Payment Method
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentMethod }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastResponseDatetime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Response
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastResponseDatetime | date: "d/M/yy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <label *ngSwitchCase="'1'" class="label label-primary">{{
              element.rStatus
            }}</label>
            <label *ngSwitchCase="'2'" class="label label-primary">{{
              element.rStatus
            }}</label>
            <label *ngSwitchCase="'3'" class="label label-danger">{{
              element.rStatus
            }}</label>
            <label *ngSwitchCase="'4'" class="label label-danger">{{
              element.rStatus
            }}</label>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              *ngIf="element.status == 3"
              class="btn btn-danger btn-xs"
              onclick="archiveQuestion(element.id)"
              >Archive</a
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>

