<div [formGroup]="form">
  <label [attr.for]="control.key">{{control.label}}</label>

  <div [ngSwitch]="control.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="control.key"
            [id]="control.key" [type]="control.type">

    <select [id]="control.key" *ngSwitchCase="'dropdown'" [formControlName]="control.key">
      <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{control.label}} is required</div>
</div>
