
<mat-form-field>
  <mat-label>Filter All</mat-label>
  <input matInput (keyup)="applyNewFilter($event,'userId')" placeholder="UID">
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>Filter Email</mat-label>
  <input matInput (keyup)="applyNewFilter($event, 'email')" placeholder="Email">
</mat-form-field>

<table mat-table [dataSource]="userResults" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
  <!-- Position Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> UserId. </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

