<div class="wrapper wrapper-content animated fadeIn">
  <div class="spiner-example" style="display: none">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Campaign Plays Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [miscName]="miscName"
          [fullName]="fullName"
          [numberName]="numberName"
          [responseName]="responseName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="modelSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="msisdn">
          <th mat-header-cell *matHeaderCellDef>MSISDN.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.msisdn }}
          </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Play Date/Time</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.startTime | date: "d/M/yyyy hh:mm:ss" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="playLength">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Play Length (seconds)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.playLength }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dtmfKey">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DTMF Key.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dtmfKey }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="modelSource && modelSource.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[15, 20, 25]"
        [length]="resultsLength"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
