<div class="wrapper wrapper-content animated fadeIn">
  <!-- For advertisers -->
  <app-campaign-dashboard
    *ngIf="userData.roleId != 1"
    [advertiserId]="advertiserId"
    [advertiserName]="advertiserName"
    [routeType]="routeType"
    [campaignId]="campId"
    [dashboardType]="dashboardType"
    [salesId]="salesId"
    [salesExecName]="salesExecName"
  >
  </app-campaign-dashboard>

  <app-campaign-table
    *ngIf="routeType != 'playlist'"
    [advertiserId]="advertiserId"
    [salesId]="salesId"
    [routeType]="routeType"
  >
  </app-campaign-table>

  <!-- For operators and advertisers -->
  <app-playlist-table
    [campId]="campId"
    *ngIf="routeType == 'playlist'"
  ></app-playlist-table>
  <!-- For operators -->
</div>
