<mat-horizontal-stepper linear #stepper>
  <!-- Campaign Details -->
  <ng-container *ngIf="stepOneVisible">
    <mat-step [stepControl]="frmStepOne">
      <ng-template matStepLabel>Campaign Basic Details</ng-template>
      <app-step-one-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        [campaignCategoryVisible]="campaignCategoryVisible"
        (firstStepData)="firstStepData($event)"
        (isForClient)="isForClient($event)"
      ></app-step-one-component>
    </mat-step>
</ng-container>

  <!-- Client Details -->
  <ng-container *ngIf="stepTwoVisible && isClient">
    <mat-step [stepControl]="frmStepTwo" >
      <!-- <ng-container *ngIf="stepper.selected == client_step"> -->
      <ng-template matStepLabel>Client Details</ng-template>
      <app-step-two-component
        [hasCampaignError]="hasCampaignError"
        [campaignErrorMessage]="campaignErrorMessage"
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        [stepTwoVisible]="stepTwoVisible"
        (secondStepData)="secondStepData($event)"
        (changeErrorStatus)="changeErrorStatus($event)"
      ></app-step-two-component>
      <!-- </ng-container> -->
    </mat-step>
</ng-container>

  <!-- Advert Details -->
  <ng-container *ngIf="stepThreeVisible">
    <mat-step
      [stepControl]="frmStepThree"
      #step3
      errorMessage="Select an Account"
      [hasError]="step3.interacted"
    >
      <ng-template matStepLabel>Advert Details</ng-template>
      <ng-container *ngIf="countryId != undefined">
        <app-step-three-component
          [hasCampaignError]="hasCampaignError"
          [campaignErrorMessage]="campaignErrorMessage"
          [editCampaign]="editCampaign"
          [advertiserId]="advertiserId"
          [countryId]="countryId"
          (thirdStepData)="thirdStepData($event)"
          (advertFile)="advertFile($event)"
          (smsFile)="smsFile($event)"
          [brandVisible]="brandVisible"
          (changeErrorStatus)="changeErrorStatus($event)"
        ></app-step-three-component>
      </ng-container>
    </mat-step>
</ng-container>

  <!-- Budget Details -->
  <ng-container *ngIf="stepFourVisible">
    <mat-step [stepControl]="frmStepFour">
      <ng-template matStepLabel>Budget Details</ng-template>
      <app-step-four-component
        [hasCampaignError]="hasCampaignError"
        [campaignErrorMessage]="campaignErrorMessage"
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        [minBid]="minBid"
        (fourthStepData)="fourthStepData($event)"
        (changeErrorStatus)="changeErrorStatus($event)"
      ></app-step-four-component>
    </mat-step>
  </ng-container>

  <!-- SMS & Email -->
  <ng-container *ngIf="stepFiveVisible">
    <mat-step [stepControl]="frmStepFive">
      <ng-template matStepLabel>SMS & Email Details</ng-template>
      <app-step-five-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        (fifthStepData)="fifthStepData($event)"
      ></app-step-five-component>
    </mat-step>
</ng-container>

  <!-- Profile Details -->
  <ng-container *ngIf="stepSixVisible && profileSelectionModel">
    <mat-step [stepControl]="frmStepSix">
      <ng-template matStepLabel>Subscriber Proile Data</ng-template>
      <app-step-six-component
        [editCampaign]="editCampaign"
        [advertiserId]="advertiserId"
        (sixthStepData)="sixthStepData($event)"
        [profileSelectionModel]="profileSelectionModel"
        [countryId]="countryId"
      ></app-step-six-component>
    </mat-step>
</ng-container>

  <!-- Confirmation & Submission -->
  <mat-step>
    <ng-template matStepLabel>Complete</ng-template>
    <app-step-seven-component
      [campaignName]="campaignName"
      [hasCampaignError]="hasCampaignError"
      [campaignErrorMessage]="campaignErrorMessage"
      [userData]="userData"
      [formSubmitted]="formSubmitted"
      (frmDataComplete)="frmDataComplete($event)"
      (changeErrorStatus)="changeErrorStatus($event)"
    ></app-step-seven-component>
  </mat-step>
</mat-horizontal-stepper>
