<mat-card>
  <mat-card-header> Profile Match Information </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="legacy">
        <input matInput formControlName="profileName" />
        <mat-placeholder>Profile Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Profile Type" formControlName="profileType">
          <mat-option *ngFor="let item of typeSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="headerVisible"
        ><mat-label><b>Active: </b></mat-label>
        <mat-slide-toggle formControlName="isActive"> </mat-slide-toggle
      ></span>
      <mat-card style="margin-top: 2em; width: 50em">
        <mat-card-header style="margin-top: 2em">
          Profile Match Labels
        </mat-card-header>
        <mat-card-content style="margin-top: 2em">
          <ng-container
            *ngFor="
              let userFormGroup of form.controls.profileMatchLabelFormModels[
                'controls'
              ];
              let i = index
            "
            ><div [formGroup]="userFormGroup">
              <mat-form-field appearance="legacy" style="width: 20em">
                <input matInput formControlName="profileLabel" />
                <mat-placeholder>Label Name</mat-placeholder>
              </mat-form-field>
              <mat-form-field
                appearance="legacy"
                style="width: 7em; margin: 0 2em"
              >
                <input
                  matInput
                  formControlName="createdDate"
                  type="date | date: 'd/M/yyyy'"
                />
                <mat-placeholder>Created Date</mat-placeholder>
              </mat-form-field>
              <label>
                <button (click)="removeElement(i)" type="button">
                  remove element
                </button>
              </label>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
      <mat-card-actions>
        <ng-container style="display: inline-block">
          <button
            style="float: left"
            mat-raised-button
            color="primary"
            [disabled]="(!form.valid && !editMode) || !submitEnabled"
          >
            Submit
          </button>
          <button (click)="addElement()" type="button" style="float: right">
            Add New Label
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
