@import "../../../../assets/css/dashboard-tables.css";

table {
  width: 100%;
}

mat-card {
  width: 50%;
  left: 20%;
  padding: 8%;
}

.export-buttons {
  margin-right: 2%;
}

.mat-paginator {
  margin-right: 2%;
}

.mat-column-areaName {
  flex: 0 0 43% !important;
  width: 43% !important;
}

.mat-column-countryName {
  flex: 0 0 40% !important;
  width: 40% !important;
}

.mat-column-action {
  flex: 0 0 17% !important;
  width: 17% !important;
}
