<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Campaign Plays Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [miscName]="miscName"
          [numberName]="numberName"
          [numberName2]="numberName2"
          [numberName3]="numberName3"
          [responseName]="responseName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exportToExcel()">Excel</button>
      </div>

      <table
        mat-table
        [dataSource]="modelSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>UserId.</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="userData.roleId == 3">
              <a
                style="color: blue"
                [routerLink]="['/subscriberprofile/', element.userId, element.campaignProfileId]"
                >{{ element.userId }}</a
              >
            </ng-container>
            <ng-container *ngIf="userData.roleId != 3">
              {{ element.userId }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cost.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="playCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Play Cost.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.playCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emailCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Cost.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.emailCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="smsCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SMS Cost.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.smsCost }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emailMsg">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.emailMsg }}
          </td>
        </ng-container>
        <ng-container matColumnDef="advertName">
          <th mat-header-cell *matHeaderCellDef>Advert</th>
          <td mat-cell *matCellDef="let element">
            {{ element.advertName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="playLength">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Play Length (seconds)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.playLength }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sms">
          <th mat-header-cell *matHeaderCellDef>SMS</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: green; cursor: pointer"
              *ngIf="element.script != null"
              title="{{ element.sms }}"
              (click)="getscripts('Scripts', element.advertName, element.sms)"
              >View</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="totalSpend">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Spend</th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalSpend }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fundsAvailable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Funds Available
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fundsAvailable }}
          </td>
        </ng-container>

        <ng-container matColumnDef="avgBidValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg. Bid</th>
          <td mat-cell *matCellDef="let element">
            {{ element.avgBidValue }}
          </td>
        </ng-container>
        <ng-container matColumnDef="operatorName">
          <th mat-header-cell *matHeaderCellDef>Operator</th>
          <td mat-cell *matCellDef="let element">
            {{ element.operatorName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Start Date</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.startTime | date: "d/M/yyyy hh:mm:ss" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef>End Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.endTime | date: "d/M/yyyy hh:mm:ss" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="modelSource && modelSource.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        [length]="resultsLength"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
