@import "../../../../../assets/css/dashboard-tables.css";

:host ::ng-deep .sharedNumberRange {
  width: 35%;
  float: left;
}

:host ::ng-deep .sharedNumberRange2 {
  width: 45%;
  float: left;
}

:host ::ng-deep .sharedNumberRange3 {
  width: 35%;
  float: left;
}

:host ::ng-deep .sharedResponse {
  float: left;
}
