<h1 mat-dialog-title i18n="Confirmation|Confirm action">Confirmation</h1>
<div mat-dialog-content>
    <p>Are you sure you want to delete this Advert</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialogo()" i18n="No|No">No</button>
    <button mat-button (click)="confirmado()" cdkFocusInitial i18n="Yes|Yes">Yes</button>
</div>
