mat-card {
  margin: 2.5em 1.25em;
}

form .selection-elements {
  margin-left: 55%;
}

mat-card-header {
  font-size: 2em;
}

mat-form-field {
  margin: 0 15px;
}

.selection-select {
  width: 300px;
  margin-right: 20px;
}

.selection-toggle {
  max-width: 120px;
  margin-right: 5px;
  margin-left: 5px;
}

.mat-card {
  width: 95%;
  margin: 3% 2% 3% 3%;
  padding: 2%;
}

.mat-form {
  width: 97%;
}

.mat-card-header {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.headerVisible {
  position: absolute;
  right: 45%;
}

.user-header {
  font-size: 1.3em;
  font-weight: 500;
  width: 6em;
}

.user-line {
  margin: 1em 1em;
}

.user-select {
  width: 18em;
  margin: 2em 1em;
}

.element_name {
  width: 265px;
}

.toggles {
  width: 110;
  padding: 0 2px;
  margin: 0 3px;
}

.standard-type-outer {
  width: 180px;
  padding: 0 3px;
}

input {
  background-color: black;
  color: white;
}

.standard-type-input {
  width: 90px;
  padding: 0 3px;
}

.route-outer {
  width: 215px;
  padding: 0 3px;
}

.route-input {
  width: 155px;
  padding: 0 3px;
}

.table-width {
  width: 12px;
}
