<mat-card>
  <mat-card-header> Edit Menus </mat-card-header>
  <mat-card-content>
    <mat-error *ngIf="messageView">
      <p class="fail-message-text">
        {{ failMessage }}
      </p></mat-error
    >
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <mat-form-field appearance="standard">
      <mat-label>Role: </mat-label>
      <mat-select
        placeholder="Select Role"
        (selectionChange)="getMenuList($event)"
      >
        <mat-option *ngFor="let item of roleSelect" [value]="item.value">
          {{ item.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <form [formGroup]="pageForm" (ngSubmit)="onSubmit()" *ngIf="pageForm">
          <!-- <div formArrayName="pageData"> -->
          <div style="margin-bottom: 15px; padding-bottom: 10px">
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title style="position: relative">
                    <label controlName="pageName"></label>
                    <span class="headerVisible"
                      ><mat-label><b>Visible: </b></mat-label>
                      <mat-slide-toggle formControlName="visible">
                      </mat-slide-toggle
                    ></span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div formArrayName="elements">
                  <mat-list
                    *ngFor="
                      let group of getTopElementsFor(0);
                      let groupIndex = index
                    "
                  >
                    <div [formGroup]="group">
                      <mat-list-item role="listitem">
                        <span class="matlistitem" class="element_name"
                          ><mat-label><b>Name: </b></mat-label>
                          <input matInput formControlName="name" />
                        </span>
                        <span class="matlistitem" class="toggles"
                          ><mat-label><b>Visible: </b></mat-label>
                          <mat-slide-toggle formControlName="visible">
                          </mat-slide-toggle
                        ></span>
                        <span
                          class="matlistitem toggles"
                          *ngIf="group.enabled"
                          ><mat-label><b>Enabled: </b></mat-label>
                          <mat-slide-toggle formControlName="enabled">
                          </mat-slide-toggle
                        ></span>
                        <span class="matlistitem route-outer"
                          ><mat-label><b>Route: </b></mat-label>
                          <input
                            matInput
                            formControlName="route"
                            class="route-input"
                          />
                        </span>
                        <span class="matlistitem standard-type-outer"
                          ><mat-label><b>Type: </b></mat-label>
                          <input
                            matInput
                            formControlName="type"
                            class="standard-type-input"
                          />
                        </span>
                        <span class="matlistitem standard-type-outer"
                          ><mat-label><b>Data Limit: </b></mat-label>
                          <input
                            matInput
                            formControlName="arrayId"
                            class="standard-type-input"
                            pattern="\d{1,2}(,\d{3})*(\.\d+)?"
                          />
                        </span>
                        <!-- <span class="matlistitem" style="width: 350px;"
                            ><mat-label><b>Description: </b></mat-label>
                            <input matInput formControlName="description" style="width: 150px;">
                            </span
                          > -->
                      </mat-list-item>

                      <div formArrayName="elements">
                        <table style="margin-left: 30px; padding-left: 30px">
                          <tr>
                            <td class="table-width"></td>
                            <td>
                              <mat-list
                                role="list"
                                *ngFor="
                                  let el of getElementsFor2(groupIndex);
                                  let attributeIndex = index
                                "
                                style="background-color: lightslategrey"
                              >
                                <div [formGroupName]="attributeIndex">
                                  <mat-list-item role="listitem">
                                    <span
                                      class="matlistitem"
                                      class="element_name"
                                      ><mat-label><b>Name: </b></mat-label>
                                      <input matInput formControlName="name" />
                                    </span>
                                    <span class="matlistitem toggles"
                                      ><mat-label><b>Visible: </b></mat-label>
                                      <mat-slide-toggle
                                        formControlName="visible"
                                      >
                                      </mat-slide-toggle
                                    ></span>
                                    <span class="matlistitem toggles"
                                      ><mat-label><b>Enabled: </b></mat-label>
                                      <mat-slide-toggle
                                        formControlName="enabled"
                                      >
                                      </mat-slide-toggle
                                    ></span>
                                    <span
                                      class="matlistitem route-outer"
                                      ><mat-label><b>Route: </b></mat-label>
                                      <input
                                        matInput
                                        formControlName="route"
                                        class="route-input"
                                      />
                                    </span>
                                  </mat-list-item>
                                  <button
                                    class="button"
                                    type="button"
                                    (click)="
                                      move2(-1, groupIndex, attributeIndex)
                                    "
                                  >
                                    Up
                                  </button>
                                  &nbsp;
                                  <button
                                    class="button"
                                    type="button"
                                    (click)="
                                      move2(1, groupIndex, attributeIndex)
                                    "
                                  >
                                    Down
                                  </button>
                                </div>
                              </mat-list>
                              <div style="margin-left: 85%">
                                <button (click)="addElement2(groupIndex)" type="button">
                                  add element
                                </button>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <button
                        class="button"
                        type="button"
                        (click)="move(-1, groupIndex)"
                      >
                        Move Up
                      </button>
                      &nbsp;
                      <button
                        class="button"
                        type="button"
                        (click)="move(1, groupIndex)"
                      >
                        Move Down
                      </button>
                    </div>
                  </mat-list>
                  <div style="margin-left: 85%">
                    <button (click)="addElement(0)">add another element</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <!-- </div> -->
          <mat-card-actions>
            <ng-container *ngIf="userPerms">
              <button mat-raised-button color="primary" type="submit">
                Submit
              </button>
            </ng-container>
            <ng-container *ngIf="!userPerms">
              <p>No Permissions exist for this user</p>
            </ng-container>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
