<h1 mat-dialog-title>{{ data.type }} For: {{ data.advertName }}</h1>
<div mat-dialog-content>
  <p>
    {{ data.script }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
