<mat-card>
  <mat-card-header>
    Client Details
    <ng-template style="font-size: smaller"
      >(select or create new)</ng-template
    ></mat-card-header
  >
  <mat-card-content>
    <div class="message-holder" *ngIf="hasCampaignError || (campaignErrorMessage != null && campaignErrorMessage.length > 0)">
      <h4>
        <span style="background-color: rgb(250, 204, 186); width: 30em"
          >{{ campaignErrorMessage }}</span
        >
      </h4>
    </div>
    <form [formGroup]="frmStepTwo">
      <mat-form-field>
        <mat-select
          placeholder="Client"
          formControlName="id"
          (selectionChange)="onClientChange($event)"
        >
        <mat-option *ngFor="let item of clientSelect$ | async" [value]="item.value">
          {{ item.text }}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="name" required />
        <mat-placeholder>Client Name</mat-placeholder>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="description" required />
        <mat-placeholder>Client Description</mat-placeholder>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="email" required />
        <mat-placeholder>Email Address</mat-placeholder>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="contactPhone" required />
        <mat-placeholder>Phone Number</mat-placeholder>
      </mat-form-field>

      <mat-card-actions class="button-placement">
        <ng-container *ngIf="!editCampaign">
          <button type="button" matStepperPrevious (click)="clearError()">
            Back
          </button>
          <button type="button" mat-button matStepperNext (click)="form2()">
            Next
          </button>
        </ng-container>
        <ng-container *ngIf="editCampaign">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="form2()" [disabled]="frmStepTwo.invalid || frmTwoSubmitting"
          >
            Update
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
