@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 2%;
}

.mat-column-email {
  width: 275px !important;
}

.mat-column-fullName {
  width: 255px !important;
}

.mat-column-role {
  width: 100px !important;
}

.mat-column-dateCreated {
  width: 105px !important;
}

.mat-column-status {
  width: 103px !important;
}

.mat-column-action {
  width: 103px !important;
}
