.mat-card{
  margin-left: 5em;
  width:55em;
}

.table-currency-symbol{
  float:none;
  margin-right: 3px;
}

label{
  padding: 1 12 1 12;
}


.price {
  display: inline-block;
}

.price::first-letter {
  padding-right: 0.3em;
}

.main-label{
  background-color: lightgray;
}


.po-label{
  margin-top: 1.1em;
}
