<mat-card>
  <mat-card-header><h1>Fund Campaign</h1></mat-card-header>
  <mat-card-content>
    <p
      style="background-color: rgb(250, 204, 186); width: 30em"
      [innerHTML]="failMessage"
    ></p>
    <form [formGroup]="frmStepOne" *ngIf="modelSource" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select
                placeholder="Campaign"
                formControlName="campaignProfileId"
                (selectionChange)="getBillingDetails($event.value)"
              >
                <mat-option
                  *ngFor="let item of campaignSelect"
                  [value]="item.value"
                >
                  {{ item.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Currency" formControlName="currencyId">
                <mat-option
                  *ngFor="let item of currencySelect"
                  [value]="item.value"
                >
                  {{ item.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6"></div>
        </div>

        <div class="row main-label">
          <div class="col-md-4">
            <label>Maximum Amount of Credit</label>
          </div>
          <div class="col-md-3">
            <label
              ><span class="table-currency-symbol">{{
                currencySymbol[modelSource.currencyCode]
              }}</span
              >{{ modelSource.assignedCredit | number: "1.2-2" }}</label
            >
          </div>
          <div class="col-md-5"></div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label><b>Available Credit</b></label>
          </div>
          <div class="col-md-3">
            <label
              ><b
                ><span class="table-currency-symbol">{{
                  currencySymbol[modelSource.currencyCode]
                }}</span
                >{{
                  modelSource.availableCredit /
                    (modelSource.taxPercantage / 100 + 1) | number: "1.2-2"
                }}</b
              ></label
            >
          </div>
          <div class="col-md-5"></div>
        </div>

        <div class="row main-label">
          <div class="col-md-4">
            <label>Campaign Funds Available</label>
          </div>
          <div class="col-md-3">
            <label
              ><span class="table-currency-symbol">{{
                currencySymbol[modelSource.currencyCode]
              }}</span
              >{{ modelSource.totalFundAmount | number: "1.2-2" }}</label
            >
          </div>
          <div class="col-md-5"></div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label class="po-label">Purchase Order No.</label>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="legacy">
              <input matInput formControlName="poNumber" required />
              <mat-placeholder>P.O. Number</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="col-md-5"></div>
        </div>

        <div
          *ngIf="frmStepOne.get('fundAmount').errors?.min"
          style="color: lightsalmon"
        >
          You must enter a value greater than zero in Fund Amount.
        </div>

        <div
          *ngIf="frmStepOne.get('fundAmount').errors?.max"
          style="color: lightsalmon"
        >
          Fund Amount cannot be greater than the Available Credit
        </div>
        <div
          *ngIf="frmStepOne.get('fundAmount').errors?.pattern"
          style="color: lightsalmon"
        >
          Fund Amount must be a numeric value
        </div>
        <div class="row main-label">
          <div class="col-md-3">
            <label class="po-label">Fund Amount</label>
          </div>
          <div class="col-md-3">
            <mat-form-field style="margin-left: 4em">
              <input
                matInput
                formControlName="fundAmount"
                required
                (keyup)="applyTax($event)"
              />
              <mat-placeholder>Fund Amount</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <ng-container *ngIf="appliedCredit > 0">
              <label class="po-label"
                >Tax: {{ modelSource.taxPercantage }}%</label
              >
            </ng-container>
          </div>
          <div class="col-md-4">
            <ng-container *ngIf="appliedCredit > 0">
              <label class="po-label"
                >Total Applied:
                <span class="table-currency-symbol">{{
                  currencySymbol[modelSource.currencyCode]
                }}</span
                >{{ appliedCredit | number: "1.2-2" }}</label
              >
            </ng-container>
          </div>
        </div>

        <mat-card-actions class="button-placement">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!frmStepOne.valid || submitted"
          >
            Submit
          </button>
        </mat-card-actions>
        <!-- <p>{{frmStepOne.get('campaignCategoryId').value | json}}</p> -->
      </div>
    </form>
  </mat-card-content>
</mat-card>
