/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  font-family: "webnarregular";
  background-color: #f3f3f4;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

/* .gray-bg{
    background-color:#f3f3f4;
    height:100%;
  } */

.mat-menu-panel {
  font-family: webnarregular;
  font-size: 12;
  background-color: #2f4050;
  color: #ffffff;
}

.mat-menu-item {
  background: transparent;
  color: #ffffff;
  font-family: webnarregular, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  color: #ffffff;
  font-weight: 900;
}

.navbar-header > span {
  color: #999c9e;
  font-weight: 600;
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0px;
  left: 0px;
  padding: 10px 20px;
  position: relative;
  right: 0px;
}

.pull-right {
  float: right !important;
}

.text-align-center {
  text-align: center;
}

.table-currency-symbol {
  float: left;
}

.success-message-text {
  background-color: lightgreen;
  width: 15em;
}

.fail-message-text {
  background-color: red;
  color: white;
  width: 15em;
}

.success-messagetable-text {
  font-size: 2em;
  background-color: lightgreen;
  width: 35em;
  float: left;
  clear: right;
  margin: 15px 15px 10px 0;
}

.fail-messagetable-text {
  font-size: 2em;
  background-color: lightsalmon;
  width: 35em;
  float: left;
  clear: right;
  margin: 15px 15px 10px 0;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  font-weight: bolder;
}
