<mat-card>
  <mat-card-header> Permission Management </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>

<table>
  <tr>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Add New Page</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/permissionpageadd']"
                >Add New Page</a
              >
            </div>
            <span class="small"
              >Add a new page and its elements to the system</span
            >
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Add A New Element</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/permissionelementadd']"
                >Add New Element</a
              >
            </div>
            <span class="small">Add a new element to an existing page</span>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Edit Menus</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/permissionmenu']"
                >Edit Menus</a
              >
            </div>
            <span class="small">Add/Edit Existing Menus</span>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
  <tr>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Raw Data</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/rawpermissions']"
                >Raw Data</a
              >
            </div>
            <span class="small"
              >Presents the raw json of a selected user to manipulate</span
            >
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Permissions by User</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/userpermission/0']"
                >User Permissions</a
              >
            </div>
            <span class="small"
              >Allows the normal changing of permissions by a selected
              user</span
            >
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
    <td>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Compare Permissions by User</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content-small">
          <ng-container>
            <div class="display-values">
              <a style="color: blue" [routerLink]="['/comparepermissions']"
                >Compare</a
              >
            </div>
            <span class="small"
              >Allows the ability to compare the permisions of 2 users. Displays
              the differences of the second compared to the first</span
            >
          </ng-container>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
</table>
