.display-values {
  color: #1e90ff;
  font-size: 2em;
  margin: 0 0 1em 2em;
}

.main-card {
  width: 86%;
  margin: 3% 7% 3% 7%;
}

table {
  width: 90%;
  margin: 3% 5% 3% 5%;
}

td {
  padding: 1em 0.5em;
  width: 25%;
}

.mat-card-content-small {
  min-height: 92px;
}

.mat-card-header-small {
  min-height: 80px;
}

.mat-card-title-main {
  background: white;
  font-size: 2em;
}

.mat-card-title h1 {
  font-size: 0.9em;
}

/* .operator {
  float: left;
} */

.country {
  margin: 0 4em;
}

.sharedCreated {
  float: right;
}
