.mat-card {
  width: 95%;
  margin: 3% 2% 3% 3%;
  padding: 2%;
}

.mat-form {
  width: 97%;
}

.mat-card-header {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.headerVisible {
  position: absolute;
  right: 45%;
}

.user-header {
  font-size: 1.3em;
  font-weight: 500;
  width: 6em;
}

.user-line {
  margin: 1em 1em;
}

.user-select {
  width: 18em;
  margin: 2em 1em;
}
