<mat-card>
  <mat-card-header> Permission Assignment</mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="showDD" class="row">
      <mat-select
        class="user-select row"
        placeholder="Select User"
        (selectionChange)="getUserPermission($event)"
      >
        <mat-option *ngFor="let item of userSelect" [value]="item.value">
          {{ item.text }}
        </mat-option>
      </mat-select> </ng-container
    ><br />
    <ng-container *ngIf="showUserData" class="row">
      <span class="user-line row"
        ><span class="user-header">Users Name:</span>
        {{ userModel.fullName }}</span
      >
      <span class="user-line row"
        ><span class="user-header">Role:</span> {{ userModel.role }}</span
      >
      <ng-container *ngIf="userModel.countryName != null">
        <span class="user-line row"
          ><span class="user-header">From:</span>
          {{ userModel.countryName }}</span
        >
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <form
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="mat-form"
    >
      <div formArrayName="pageData">
        <div
          *ngFor="let item of pageData; let taskIndex = index"
          style="margin-bottom: 15px; padding-bottom: 10px"
        >
          <mat-accordion
            class="example-headers-align"
            multi
            [formGroupName]="taskIndex"
          >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title style="position: relative">
                  <label controlName="pageName"></label>
                  <span class="headerVisible"
                    ><mat-label><b>Visible: </b></mat-label>
                    <mat-slide-toggle formControlName="visible">
                    </mat-slide-toggle
                  ></span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div formArrayName="elements">
                <mat-list
                  *ngFor="
                    let group of getTopElementsFor(taskIndex);
                    let groupIndex = index
                  "
                >
                  <app-permission-users-elements
                    [formmain]="form"
                    [parentForm]="group"
                    [taskIndex]="taskIndex"
                    [groupIndex]="groupIndex"
                  ></app-permission-users-elements>
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <mat-card-actions>
        <ng-container *ngIf="userPerms.length > 0">
          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </ng-container>
        <ng-container *ngIf="userPerms.length == 0">
          <p>No Permissions exist for this user</p>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
