<h1 mat-dialog-title>Adtone Invoice</h1>
<div mat-dialog-content>
  <iframe
    [src]="url"
    type="application/pdf"
    width="650px"
    height="600px"
  ></iframe>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
