<mat-card>
  <mat-card-header> Compare Permissions </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select
          placeholder="User 1"
          formControlName="userId"
          (selectionChange)="getUserPermission($event)"
        >
          <mat-option *ngFor="let item of userSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="User 2"
          formControlName="id"
          (selectionChange)="getUserPermission2($event)"
        >
          <mat-option *ngFor="let item of userSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 300px">
        <textarea
          matInput
          type="text"
          formControlName="comp"
          [value]="userPerms | json"
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="50"
        ></textarea>
        <mat-placeholder>Permissions</mat-placeholder>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
