<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-content>
      <app-advert-dashboard
        *ngIf="currentUser > 0"
        [advertiserId]="currentUser"
      >
      </app-advert-dashboard>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="AdvertManagementTitle|Header for Advert Management"
        >Advert Management
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [statusSelect]="statusSelect"
          [clientSelect]="clientSelect"
          [fullName]="fullName"
          [miscName]="miscName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <button mat-button (click)="exporter.exportTable('csv')">CSV</button>
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="advertName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="Advert|Advert Column Header"
          >
            Advert
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              <a
                style="color: blue"
                [routerLink]="[
                  '/advertisereditadvert/',
                  element.userId,
                  element.campaignProfileId,
                  element.countryId
                ]"
                >{{ element.advertName }}</a
              >
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="Client|Client Name"
          >
            Client.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="campaignName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="Campaign|Campaign Name"
          >
            Campaign.
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              <a
                style="color: blue"
                [routerLink]="[
                  '/campaignauditdetail/',
                  element.campaignProfileId
                ]"
                >{{ element.campaignName }}</a
              >
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="CreatedDate|Created Date"
          >
            Created Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="listen">
          <th mat-header-cell *matHeaderCellDef>Listen</th>
          <td mat-cell *matCellDef="let element">
            <audio
              class="audio-small"
              controls="controls"
              id="+@result.Name+"
              src="{{ element.mediaFile }}"
            ></audio>
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="Status|Staus of item">Status</th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="element.status">
              <ng-container *ngSwitchCase="'4'">
                <label class="label label-success label1">{{
                  element.rStatus
                }}</label>
              </ng-container>

              <ng-container *ngSwitchCase="'9'">
                <label class="label label-success label1">{{
                  element.rStatus
                }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'6'">
                <label class="label label-info label1">{{
                  element.rStatus
                }}</label>
              </ng-container>
              <ng-container *ngSwitchCase="'8'">
                <label class="label label-danger label1">{{
                  element.rStatus
                }}</label>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <select
                  class="form-control input-s-sm inline"
                  [(ngModel)]="element.status"
                  (change)="updateStatus(element.advertId, $event)"
                >
                  <option value="1" i18n="Live|a status">Live</option>
                  <option value="2" i18n="Suspended|a status">Suspended</option>
                  <option value="3" i18n="Archived|a status">Archived</option>
                  <option value="7" i18n="InProgress|a status">
                    InProgress
                  </option>
                </select>
              </ng-container>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalPlays">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="TotalPlays|Total No. of Plays"
          >
            Total Plays.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalPlays }}
          </td>
        </ng-container>
        <ng-container matColumnDef="averageBid">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="AverageBid|Average Bid"
          >
            Average Bid
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.averageBid }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n="Action|Action to take"
          >
            Action
          </th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
            <ng-container *ngSwitchCase="'6'">
              <a
                class="btn btn-danger btn-xs"
                (click)="mostrarDialogo(element.advertId)"
                i18n="Delete|Delete record"
                >Delete</a
              >
            </ng-container>
            <ng-container *ngSwitchDefault>
              <div></div>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
        i18n="NoRecords|No records found for table.">
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
