<div class="mat-app-background">
  <mat-toolbar style="background-color: #2f4050">
    <div class="navbar-header">
      <span class="minimalize-styl-2" style="margin: 2% 2% 3% 0"
        >Welcome to Adtones
        <span>{{ welcomeHeader }}</span>
        <!-- <span *ngIf="menuId==2">Operator Admin</span> -->
      </span>
    </div>
    <app-navigation-builder></app-navigation-builder>
    <!-- <app-operator-navigation *ngIf="menuId==2"></app-operator-navigation> -->
    <div class="right-side-menu">
      <app-profile-menu [userId]="userId"></app-profile-menu>
    </div>
  </mat-toolbar>
</div>
