<mat-card>
  <mat-card-header> Add New Page </mat-card-header>
  <mat-card-content>
    <mat-error *ngIf="messageView">
      <p class="fail-message-text">
        {{ failMessage }}
      </p></mat-error
    >
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <form [formGroup]="pageForm" (ngSubmit)="onSubmit()">
      <app-add-range [pageForm]="pageForm"></app-add-range>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="pageName" />
        <mat-placeholder>Page Name</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <mat-slide-toggle formControlName="visible" [checked]="true"
          ><b>Visible</b>
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>
      <app-permission-elements [pageForm]="pageForm"></app-permission-elements>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </form>
    <div style="margin-left: 85%">
      <button (click)="addElement()">add another element</button>
    </div>
  </mat-card-content>
</mat-card>
