@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 5%;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

.mat-column-email {
  flex: 0 0 200px !important;
  width: 200px !important;
}

.mat-column-userName {
  flex: 0 0 200px !important;
  width: 200px !important;
}

/* .mat-column-clientName {
  flex: 0 0 13% !important;
  width: 13% !important;
}

.mat-column-advertName {
  flex: 0 0 13% !important;
  width: 13% !important;
}


.mat-column-brand {
  flex: 0 0 13% !important;
  width: 13% !important;
} */

.mat-column-scripts {
  width: 65px !important;
}

.mat-column-smsBody {
  width: 65px !important;
  word-wrap: break-word;
}

.mat-column-emailBody {
  width: 65px !important;
  word-wrap: break-word;
}

.mat-column-listen {
  flex: 0 0 310px !important;
  width: 310px !important;
}

.mat-column-status {
  width: 135px !important;
}

.mat-column-createdDate {
  width: 75px !important;
}

.mat-column-action {
  width: 90px !important;
}

.btn-danger {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #ffffff;
}

.btn-blue {
  background-color: #1e90ff;
  border-color: #1e90ff;
  color: #ffffff;
}

.btn-success {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #ffffff;
}
