<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Advertisers Credit Data
        <ng-container *ngIf="salesExecName">
          For {{ salesExecName }}
        </ng-container>
      </mat-card-title>
    </mat-card-header>
    <span style="margin-left: 82%">
      <a mat-raised-button [routerLink]="['/advertisercreditdetails/', 0]">
        <mat-icon>library_add</mat-icon>Add New Advertiser Credit</a
      >
    </span>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [numberName]="numberName"
          [countrySelect]="countrySelect"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <!-- <button mat-button (click)="exporter.exportTable('csv')">CSV</button> -->
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>
      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="['/userdetails/', element.userId]"
              >{{ element.email }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fullName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.salesExec }}
          </td>
        </ng-container>
        <ng-container matColumnDef="organisation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Organisation.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.organisation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Credit Limit
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.credit }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="availableCredit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Available Credit
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.availableCredit }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="totalUsed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Used Credit</th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.totalUsed }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="totalPaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid Credit</th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.totalPaid }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="remainingAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Outstanding Amount
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.remainingAmount }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>{{ createdDateDisplay }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="['/advertisercreditdetails/', element.userId]"
              >Update</a
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
