@import "../../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 4%;
}

:host ::ng-deep .sharedResponse {
  float: left;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

:host ::ng-deep .sharedNumberRange {
  float: left;
}

:host ::ng-deep .sharedFullName {
  float: left;
}

:host ::ng-deep .sharedEmail {
  float: left;
}

.mat-column-email {
  flex: 0 0 17% !important;
  width: 17% !important;
}

.mat-column-fullName {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-organisation {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-credit {
  flex: 0 0 7% !important;
  width: 7% !important;
}

.mat-column-avaiableCredit {
  flex: 0 0 7% !important;
  width: 7% !important;
}

.mat-column-totalUsed {
  flex: 0 0 7% !important;
  width: 7% !important;
}

.mat-column-totalPaid {
  flex: 0 0 6% !important;
  width: 6% !important;
}

.mat-column-remainingAmount {
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-createdDate {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-action {
  flex: 0 0 7% !important;
  width: 7% !important;
}
