<mat-card>
  <mat-card-header> Add Promotional Users </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="fail-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="countryId">
          <mat-option *ngFor="let item of countrySelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Operator" formControlName="operatorId">
          <mat-option *ngFor="let item of operatorSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="batchID" required />
        <mat-placeholder>Batch ID</mat-placeholder>
      </mat-form-field>
      <div class="form-group">
        <div>
          <button
            mat-raised-button
            color="primary"
            class="add-files-btn"
            (click)="addFiles()"
            type="button"
          >
            Upload User File
          </button>
        </div>
        <div class="col-lg-6">
          <input
            type="file"
            #file
            style="display: none"
            (change)="onFilesAdded()"
          />
        </div>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!form.valid">
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
