@import "../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 4%;
}

.mat-card {
  width: 80%;
  margin-left: 10%;
  padding: 2% 9%;
}

.mat-column-operatorName {
  flex: 0 0 27% !important;
  width: 27% !important;
}

.mat-column-keyName {
  flex: 0 0 35% !important;
  width: 35% !important;
}

.mat-column-keyValue {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-createdDate {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-action {
  flex: 0 0 10% !important;
  width: 10% !important;
}
