<div class="wrapper wrapper-content animated fadeIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Invoice Management
        <ng-container *ngIf="salesExecName">
          For {{ salesExecName }}
        </ng-container>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-search">
        <app-table-search
          [sharedModel]="tableSearchModel"
          [statusSelect]="statusSelect"
          [clientSelect]="clientSelect"
          [paymentSelect]="paymentSelect"
          [createdDateName]="createdDateName"
          [responseName]="responseName"
          [numberName]="numberName"
          [miscName]="miscName"
          (filtered)="filtered($event)"
        ></app-table-search>
      </div>
      <div class="row d-inline-flex export-buttons">
        <!-- <button mat-button (click)="exporter.exportTable('csv')">CSV</button> -->
        <button mat-button (click)="exporter.exportTable('xlsx')">Excel</button>
      </div>

      <table
        mat-table
        matTableExporter
        #exporter="matTableExporter"
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Invoice Number
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="
                element.invoicePath != null || element.invoicePath.length > 0
              "
            >
              <a
                style="color: rgb(24, 160, 24); cursor: pointer"
                title="{{ element.invoiceNumber }}"
                (click)="getsPDFFile(element.invoicePath)"
                >{{ element.invoiceNumber }}</a
              >
            </ng-container>
            <ng-container
              *ngIf="
                element.invoicePath == null || element.invoicePath.length == 0
              "
            >
              {{ element.invoiceNumber }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="poNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.poNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email.</th>
          <td mat-cell *matCellDef="let element">
            <a
              style="color: blue"
              [routerLink]="['/userdetails/', element.userId]"
              >{{ element.email }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="salesExec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Exec.</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesExec == 'UnAllocated'; else salesBlock">
              {{ element.salesExec }}
            </div>
            <ng-template #salesBlock>
              <a
                style="color: blue"
                [routerLink]="[
                  '/salesinvoicelist/',
                  element.sUserId,
                  element.salesExec
                ]"
                >{{ element.salesExec }}</a
              >
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fullName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="organisation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Organisation.
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.organisation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="settledDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Settled Date</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.settledDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.clientName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span translate>Invoice Date</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "d/M/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="campaignName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
          <td mat-cell *matCellDef="let element">
            {{ element.campaignName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.rStatus }}
          </td>
        </ng-container>
        <ng-container matColumnDef="invoiceTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Invoice Total
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              ><span class="table-currency-symbol">{{
                currencySymbol[element.currencyCode]
              }}</span>
              {{ element.invoiceTotal }}</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Payment Method
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentMethod }}
          </td>
        </ng-container>

        <ng-container matColumnDef="creditAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Amount
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.creditAmount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paidAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</th>
          <td mat-cell *matCellDef="let element">
            {{ element.paidAmount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="outstandingAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Outstanding Amouunt
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.outstandingAmount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              class="label label-primary"
              mat-raised-button
              (click)="
                SendEmail(
                  element.billingId,
                  element.userId,
                  element.usersCreditPaymentId
                )
              "
            >
              Send Email
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div
        *ngIf="isLoading"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
        "
      >
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <div
        *ngIf="dataSource && dataSource.data.length === 0"
        style="margin: 1.5em 10em 2em 20em; font-size: 2em"
      >
        No records found.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
