@import "../../../../../assets/css/dashboard-tables.css";

.table-search {
  margin-left: 5%;
}

:host ::ng-deep .sharedResponse {
  float: left;
}

:host ::ng-deep .sharedCreated {
  float: left;
}

:host ::ng-deep .sharedNumberRange {
  margin-left: 1%;
}

:host ::ng-deep .sharedFullName {
  float: left;
}

:host ::ng-deep .mat-cell {
  font-size: 12px;
}

:host ::ng-deep .mat-column-createdDate {
  width: 88px;
}

:host ::ng-deep .mat-column-settledDate {
  width: 88px;
}

:host ::ng-deep .mat-column-rStatus {
  width: 68px;
}

:host ::ng-deep .mat-column-action {
  width: 68px;
}

:host ::ng-deep .mat-column-paymentMethod {
  width: 68px;
}
