@import "../../../../assets/css/dashboard-tables.css";

table {
  width: 95%;
}

mat-card {
  left: 17%;
  padding-left: 17%;
  width: 66%;
}

.export-buttons {
  margin-right: 14%;
}

.mat-paginator {
  margin-right: 14%;
}

.mat-column-minBid {
  flex: 0 0 12% !important;
  width: 12% !important;
}

.mat-column-name {
  flex: 0 0 22% !important;
  width: 22% !important;
}

.mat-column-shortName {
  flex: 0 0 15% !important;
  width: 12% !important;
}

.mat-column-countryCode {
  flex: 0 0 13% !important;
  width: 13% !important;
}

.mat-column-taxPercentage {
  flex: 0 0 13% !important;
  width: 13% !important;
}

.mat-column-createdDate {
  flex: 0 0 13% !important;
  width: 13% !important;
}

.mat-column-action {
  flex: 0 0 14% !important;
  width: 14% !important;
}
