<mat-card>
  <mat-card-header> Campaign Credit Period Details </mat-card-header>
  <mat-card-content>
    <p class="success-message-text">
      {{ successMessage }}
    </p>
    <p class="success-message-text">{{ failMessage }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-select
          placeholder="Advertiser"
          formControlName="userId"
          (selectionChange)="popCampaign($event)"
        >
          <mat-option *ngFor="let item of userSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="campaignSelect">
        <mat-select placeholder="Campaign" formControlName="campaignProfileId">
          <mat-option *ngFor="let item of campaignSelect" [value]="item.value">
            {{ item.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="creditPeriod" type="number" max="90" />
        <mat-placeholder>Credit Period in Days</mat-placeholder>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || !submitEnabled"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
