<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="position: relative">
      <span class="headerVisible"
        ><mat-label><b>Time Bands </b></mat-label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="timesettingsModel">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="isFewSelected()"
      (change)="setAll($event.checked)"
    >
      Select All</mat-checkbox
    ><br />
    <div class="row">
    <div class="time-padding"></div>
    <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Monday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.mondaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Tuesday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.tuesdaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Wednesday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.wednesdaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>

    <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Thursday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.thursdaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Friday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.fridaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Saturday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.saturdaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="day-width">
    <span class="headerVisible"
      ><mat-label><b>Sunday</b></mat-label>
    </span>

    <mat-list *ngFor="let x of timesettingsModel.sundaySelectedTimes">
      <mat-checkbox
        [(ngModel)]="x.isSelected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ x.name }}
      </mat-checkbox>
    </mat-list>
  </div>
  <div class="time-padding"></div>
</div>
  </ng-container>
</mat-expansion-panel>

